[2020-07-02 17:14] manekinekko opened #1 "Skip API build and serve if api config is not available"

[2020-07-02 17:19] manekinekko opened #2 "Use functions-core-tools@v3"

[2020-07-02 19:20] #2 closed

[2020-07-06 13:53] #1 closed

[2020-07-06 13:54] manekinekko opened #3 "Serve existing app or api"
By default, the emulator will serve api and app from the local folder.

This feature will allow developers to skip serving app and api from the local folder, and serve them from existing endpoints (useful if you are working on a dev version of either app or api).

- [x] serve from existing app (https://github.com/manekinekko/swa-emulator/commit/2b8b4f8b4a0f7f3b4fe6755d4fd4ddee2e02ef15)
- [x] serve

[2020-07-07 10:03] manekinekko opened #4 "Support HTTPS locally"
Currently, the CLI serves the traffic over HTTP. We need to support HTTPS.

- [ ] generate a valid SSL certificate for localhost (see [scripts/cert.sh](https://github.com/Azure/static-web-apps-cli/blob/main/scripts/cert.sh))
- [ ] use HTTPS for the proxy

[2020-07-07 13:34] manekinekko opened #5 "Support Oryx environment vars"
Allow SWA EMU to use Oryx env vars from https://github.com/microsoft/Oryx/blob/master/doc/configuration.md#oryx-configuration

[2020-07-30 13:30] manekinekko opened #6 "Emulate routes config"
Checkout [docs](https://docs.microsoft.com/azure/static-web-apps/routes) for more details.

[2020-07-30 13:31] manekinekko opened #7 "Emulate ACL"
Read [docs](https://docs.microsoft.com/azure/static-web-apps/authentication-authorization?WT.mc_id=-github-wachegha#role-management)

Related https://github.com/Azure/swa-emulator/issues/6

[2020-08-05 20:44] manekinekko opened #9 "Proxy server process isn't stopped when stopping on ctrl-c"
**Describe the bug**
When stopping the emulator, the proxy server process doesn't get stopped, and keeps running. As a consequence, when restarting the emulator again, we can't bind to port 80.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the emulator using the `swa --ui` command.
2. Kill the emulator using `ctrl-c`
3. Restart the emulator by running the `swa` command
4. See error:

[2020-08-12 03:29] aaronpowell commented on #7
Part of this is addressed in #11 by enforcing the `routes.json` access checks.

[2020-08-12 03:33] aaronpowell commented on #6
With #11 I've implemented a first-pass on supporting this.

When the proxy starts up it'll look for a `routes.json` file in the `app_artifact_location`, and if it exists it'll load those routing rules into the proxy server. Then, when a request comes in, the proxy server will check if the route matches a rule. If a rule is found, the app which check what the rule states (access control, redirect o

[2020-08-12 03:36] aaronpowell commented on #6
There's still a few outstanding things:

- [ ] [Custom error pages](https://docs.microsoft.com/en-gb/azure/static-web-apps/routes?WT.mc_id=-github-wachegha#custom-error-pages)
- [ ] [Custom mime types](https://docs.microsoft.com/en-gb/azure/static-web-apps/routes?WT.mc_id=-github-wachegha#custom-mime-types)
- [ ] [Default headers](https://docs.microsoft.com/en-gb/azure/static-web-apps/routes?WT.mc

[2020-09-14 17:08] manekinekko opened #13 "npm install output not showing"
**Describe the bug**
when running `swa --build --verbose`. the output from the `npm install` command does not show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your swa project
2. run `swa --build --verbose`
3. The emulator will start but there is no logs during the `npm install`. The logs will show up after npm finishes installing all the deps.

**Expected behavior**
when using

[2020-09-24 01:03] aaronpowell opened #15 "Start without the github actions workflow file"
Currently, you are required to have created a GitHub Actions workflow file before you're able to use the emulator.

This is because the emulator reads a bunch of stuff out of the workflow file, but it can make for a challenging development flow as you have to have deployed the application before you're able to use the emulator.

It'd be useful if there was a way that you could run the emulator wit

[2020-09-24 01:05] aaronpowell commented on #15
I think that any information that is read from the workflow file should also be exposed as cli arguments, and if you provide those arguments then it'll use them rather than reading out of the workflow file.

[2020-09-24 01:31] aaronpowell opened #16 "Adding concurrently as a dependency breaks the emulator"
I've installed the emulator as a local devDependency, but I also have concurrently as a local devDependency. Doing this results in the emulator failing to start as it's unable to find the concurrently executable.

It'd probably be better to have concurrently as a peerDependency and use `npx` to run it, rather than directly using it.

[2020-09-24 08:11] manekinekko commented on #15
Great feedback!

[2020-09-24 08:15] manekinekko commented on #16
Interesting. What would be the use case for installing the emulator as a local devDep, instead of global CLI?

[2020-09-24 08:23] aaronpowell commented on #16
If you're building an app the always needs authentication, then you'd likely want to have it in the npm start.

Also, I have a strong opinion that you should never have global tools, as it's opaque that you need them and causes problems if you need multiple versions installed at once.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Wassim Chegham <notificati

[2020-09-28 04:16] aaronpowell opened #17 "Providing app/api uri should prevent the emulator from starting its own"
Let's say I want to run the APP and/or API myself (maybe they run a compiler like TypeScript), I would run the emulator like so:

[code]

But when it starts up, it'll attempt to run its own proxies for those, and in particular the API will fail as the port is already in use.

Since there's no need for these proxies to be run by the emulator, it should skip trying to start them if you provide the u

[2020-10-01 11:27] manekinekko commented on #17
I've included this in #19 Now you would do:

[code]

Would this would for you?

FYI, `--app-uri` and `--api-uri` are used to set the URI for the built-in proxies.

[2020-10-01 11:43] manekinekko commented on #16
I am also thinking what would happen for non-Node.js folks–who don't depend on npm/Node.js. They still should be able to get the CLI globally. Any thought?

[2020-10-01 12:24] aaronpowell commented on #16
Yes, it should still work globally, mostly I don't understand why concurrently results in an error like this.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Wassim Chegham <notifications@github.com>
Sent: Thursday, October 1, 2020 9:43:53 PM
To: manekinekko/swa-emulator <swa-emulator@noreply.github.com>
Cc: Aaron Powell <me@aaron-powell.com>; Author <author

[2020-10-03 11:54] manekinekko commented on #16
Would you mind sharing the error message?

[2020-10-18 12:48] #17 closed

[2020-10-18 12:52] manekinekko commented on #16
I discussed this issue with Aaron on Teams. When installing SWA locally (devDep), the proxy and concurrently binaries, can't be resolved correctly.

Currently, `swa` assumes that these binaries are located under `./node_modules` which is not correct when `swa` is installed locally. In this case, the binaries are located in the parent `node_modules`.

Another possible option is to use `npx` to star

[2020-10-18 12:55] manekinekko commented on #3
Added in https://github.com/manekinekko/swa-emulator/commit/398bc596db390c13b3ad324b4b2172be8ecc979f

[2020-10-18 12:55] #3 closed

[2020-10-18 13:00] manekinekko opened #20 "Add swa.json config file"
**Describe the solution you'd like**
As a user, I'd like to be able to start `swa` using a config file. All the CLI flags should be supported.

[code]

File name options:
- `swa.json`
- `swa.config.json`
- `.swarc`
- `swa` property in `package.json`

[2020-10-18 13:02] manekinekko opened #21 "Add project scaffolding"
**Describe the solution you'd like**
As a user I'd like to be able to use `swa` to scaffold a new project structure.

A possible project structure would be:

[code]

[2020-10-18 13:10] manekinekko opened #22 "Migrate the code base to TypeScript"
**Describe the solution you'd like**
As a `swa` developer, I'd like to use TypeScript to develop `swa` features.

[2020-10-18 13:15] manekinekko opened #23 "Build a landing page for the emulator"
We should have a beautiful landing page, similar to https://hexa.run!

[2020-10-19 04:29] aaronpowell commented on #22
Haha this was the first thing I tried, but you weren't keen back then so I bailed out 😂

[2020-10-30 16:16] anthonychu opened #26 "Discussion - Startup commands"
[code]

By default, it can try to search for `routes.json` or the new config file and use it.
1. Use the file in the app artifacts folder (if supplied)
1. Search recursively from current folder and use the first config file that it finds.

Optionally, allow specifying location of the routes/config file:

[code]

How VS Code might start the emulator:

[code]

[2020-10-31 11:51] manekinekko opened #27 "Rewrite the Auth flow as a raw Node.js HTTP server"
**Is your feature request related to a problem? Please describe.**
The current Auth flow implementation requires `azure-functions-core-tools`. We would like to remove this dependency.

**Describe the solution you'd like**
We would like to rewrite the current Auth flow and expose the API as raw Node.js HTTP server.

[2020-11-02 01:31] aaronpowell opened #29 "Auth complete workflow doesn't match SWA"
**Description of bug**

When the auth pipeline hits `/.auth/complete` the emulator responds with a 302 that sets the `location` header the emulator host.

**Expected outcome**

It should return a 200 response with a HTML chunk that does an auth redirect to the path provided in `post_login_redirect_uri` on the `/.auth/login/<provider>` query string.

Here's a sample HTML response:

[code]

[2020-11-03 22:24] #22 closed

[2020-11-05 05:11] aaronpowell commented on #26
I think this somewhat overlaps with #15, where it's hard to make it work unless you already have a workflow file.

I don't know if sub commands really provide much value though, what else would there be other than `start`? Is this where #21 comes into play, so you'd have a `init` command?

[2020-11-05 05:13] anthonychu commented on #26
Yep the plan is this will change from an emulator to a CLI. Deploy/publish will eventually be part of it too.

[2020-11-05 05:15] aaronpowell commented on #21
Unless it's for setting up the SWA config file (per #20) I feel like the implementation effort would greatly outweigh the user value.

We have a lot of permutations that we'd need to support, first there's the client framework (React, Vue, Angular, Svelte, Vanilla JS, Blazor), then whether you want an API, and if so, what's the API written in (JS, TypeScript, C#, F#, Python). Then there's static s

[2020-11-05 05:24] aaronpowell commented on #26
Oh right, so have it move more towards things like `func`?

Can I request an ASCII logo 😜

[2020-11-05 05:25] anthonychu commented on #26
I have reached my limit of 1 ASCII art scandal this year.

[2020-11-05 09:26] manekinekko opened #32 "Support monorepos"
**Is your feature request related to a problem? Please describe.**
Currently, running `swa` inside a monorepo project such as [shopathome](https://github.com/johnpapa/shopathome) (by @johnpapa) , will give unexpected behaviors.

**Describe the solution you'd like**
The emulator needs to support:
- monorepo projects
- multiple workflow GitHub files (one per sub-project)

[2020-11-05 10:45] manekinekko commented on #29
Fixed in #30

[2020-11-05 10:45] #29 closed

[2020-12-04 20:50] manekinekko opened #36 "Serve frontend from a folder"
As a developer, I'd like to be able to start the emulator and serve the frontend content from a folder.
Example: `swa ./app-artifact-location`

[2020-12-04 21:35] #27 closed

[2020-12-04 21:38] #15 closed

[2020-12-04 23:28] #36 closed

[2020-12-05 10:17] manekinekko opened #38 "Check if Azure Functions Core Tools is available before starting the api"
**Is your feature request related to a problem? Please describe.**
When the swa cli tries to star the api project using the `func` cli (Azure Functions Core Tools). If `func` is not available, this would trigger an error, an the api won't be emulated.

**Describe the solution you'd like**
Check if the `func` cli is already installed. If not, show a warning message or abort the whole process.

**Ad

[2020-12-05 10:26] manekinekko opened #39 "Prepare for repo migration under azure org repo"
**TODO**

- [x] rename npm package to `@azure/static-web-apps-cli`
- [x] update the readme and rename SWA EMU to  `Static Web Apps CLI` or `SWA CLI`.
- [x] change license authors
- [x] change authors in package.json
- [x] delete `AFFILIATION_NOTICE.md`
- [x] update `CODE_OF_CONDUCT.md`
- [x] replace all `https://github.com/manekinekko/swa-emulator/` references with the new repo url
- [x] add repo

[2020-12-05 18:57] manekinekko opened #40 "Deprecate and remove the --ui option"
The `--ui` option which shows a dashboard in the terminal, was added as an experiment. We need to remove it.

[2020-12-08 20:46] manekinekko opened #42 "Evaluate lite-server"
As an alternative to `http-server`, we could evaluate [`lite-server`](https://github.com/johnpapa/lite-server) and see if we can easily use it instead of `http-server`.

[2021-01-06 23:56] anthonychu opened #45 "Unable to start with Microsoft Learn sample"
**Describe the bug**

Unable to use with the MSLearn sample.

**To Reproduce**
Steps to reproduce the behavior:

[code]

Can't find the API:

[code]

**Desktop (please complete the following information):**
 - OS: macOS

[2021-01-13 22:51] burkeholland opened #46 "Unable to bind to port 80 on WSL"
**Describe the bug**
When running the emulator in the WSL, an EACCESS error is thrown saying that permissions is denied on port 80. Inspection of the port with `lsof` will show that the port is free.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a terminal instance in WSL on a SWA project
2. Run `swa`

![image](https://user-images.githubusercontent.com/686963/104519742-8e554700-55bf-1

[2021-01-14 19:27] manekinekko commented on #46
Thanks for reporting this @burkeholland

So the error you have is because ports below 1024 can be opened only by `root`. However, on macOS `swa` runs as expected and doesn't trigger this error. That's interesting! Can you try running `swa` as root, just to confirm that it's working correctly in WSL? (_we aren't going to recommend this_)

The only change I can suggest to avoid this, is to change th

[2021-01-18 18:39] anthonychu commented on #46
I agree with selecting a higher port.

[2021-01-18 18:40] anthonychu commented on #45
@manekinekko Could you please take a look at this? Would like to use this as the sample app to provide the VS Code folks to work on integrating debugging. Thanks.

[2021-01-18 18:59] anthonychu opened #47 "Simulate authentication page"
**Describe the solution you'd like**

Instead of directly integrating with all supported providers, use a simulated login page that allows a user to specify the provider, user info, and roles that they want to log in as.

When the app navigates to `/.auth/<provider>/login`, display the following screen:

![image](https://user-images.githubusercontent.com/3982077/104953628-9de7dd80-597b-11eb-8b90-1

[2021-01-18 19:09] anthonychu commented on #6
With the new unified config file coming, perhaps we should pivot and support that instead of routes.json.

Also would be great if the emulator can search for the config file, starting from the app_location. Perhaps add an additional command line flag to specify the location of the file, as this info may not be available when starting using something like `--use-app`.

@mkarmark can provide info on

[2021-01-18 20:46] manekinekko commented on #45
@anthonychu I have this issue on my todo list for this week.

In the meantime, I am noticing that t[he API does not expose any GET](https://github.com/MicrosoftDocs/mslearn-staticwebapp-api/tree/main/api-starter) method for listing products. Is that the expected behavior?

cc @johnpapa

[2021-01-18 20:51] johnpapa commented on #45
@manekinekko  -  The repo @anthonychu  is pointing to is the starting point for the learn module. So the GET API is not there yet, the learner will add it.

I noticed that `react-app` was chosen, yet the port is `4200`. This is not the matching port that React is using in the github example. Not sure if that matters ... as it may just be the 4200 that the emulator is using and proxying the rest. B

[2021-01-20 16:44] manekinekko commented on #47
Notes from last meeting with Anthony Chu and Mitali Karmarkar:

- provider input are simple free text input (no validation). Default it to the current route.
- store state in localStorage
- cookie format remains the same. Entries: userId, userName, provider, userDetails.
- auth should just redirect to callback.
- roles are stored in cookie.
- current cookie format:
[code]

[2021-01-20 16:54] manekinekko commented on #6
Notes from today's meeting:
- idea: we could publish the route engine as a binary and do a function call from within the CLI.

[2021-01-20 19:08] manekinekko commented on #45
Thank you @johnpapa

You are right about port `4200`, it is only the used internally by the static server of the cli. I know this might be confusing so I am gonna change all ports and use something different. Any suggestions?

When it comes to monorepo support, it's being tracked in this [other issue](https://github.com/Azure/swa-emulator/issues/32). Would love to have your thoughts about this top

[2021-01-20 19:15] johnpapa commented on #45
@manekinekko perhaps just choose a port that is not one of the Vue, React, or Angular ones. Any port should be fine

[2021-01-20 19:18] #46 closed

[2021-01-20 19:25] manekinekko commented on #42
@johnpapa do you recommend using this package? 😉

[2021-01-20 19:37] johnpapa commented on #42
It works! :)

It has not been updated in a long time, but still works. I'd be happy to accept any PRs if you feel it needs any.

Effectively, lite-server combines a web server (like http-server) with a fallback package. So it's quite simple if you look at the code. Or you could create your own package. Or find another.

[2021-01-21 14:18] manekinekko commented on #45
@anthonychu here is how you can *temporarily* launch the learn module example:

- clone branch #41 which adds support for selecting arbitrary folders + start sub command
- as @johnpapa  mentioned you need to update the learn example and add the `GET /products` API. I did something dirty like this:
[code]
- then run the new swa command: `swa start react-app/build --api api-starter` (see discussion

[2021-01-22 16:01] manekinekko commented on #42
Thanks for the feedback @johnpapa 👍🏼

[2021-01-22 16:23] manekinekko opened #51 "Setup a release pipeline for @azure/static-web-apps-cli"
Current package is published under [@manekikko/swa-emu](https://www.npmjs.com/package/@manekinekko/swa-emu).

We'd like to move it under @azure/static-web-apps-cli.

[2021-01-29 15:00] #39 closed

[2021-01-29 19:56] manekinekko commented on #7
Roles assignment emulation will be added by #54

[2021-01-31 22:16] manekinekko opened #61 "Support websocket when using proxifying to dev server"

[2021-01-31 22:20] #61 closed

[2021-02-01 09:30] manekinekko opened #63 "Propagate x-ms-claims-principal through function calls"
When a user is logged in, all http requests to functions should contain the `x-ms-claims-principal` header.

Initial work is done here: https://github.com/Azure/static-web-apps-cli/blob/main/src/proxy.ts#L142

[2021-02-03 15:29] manekinekko opened #64 "remove --api-prefix"
We should not allow changing the `--api-prefix` right now because the service doesn't support this.

[2021-02-05 08:34] #47 closed

[2021-02-05 08:34] #63 closed

[2021-02-05 08:56] #26 closed

[2021-02-05 13:51] #16 closed

[2021-02-05 15:39] manekinekko opened #65 "remove --use-app and --use-api"
The current CLI ergonomics are:

[code]
We don't anymore need `--use-app` and `--use-api`.

[2021-02-05 19:53] #64 closed

[2021-02-05 19:53] #65 closed

[2021-02-05 20:08] manekinekko opened #66 "Build failing on Windows"
See https://github.com/Azure/static-web-apps-cli/runs/1839979564?check_suite_focus=true#step:5:88

[2021-02-05 20:29] #66 closed

[2021-02-05 20:53] #40 closed

[2021-02-14 23:06] anthonychu opened #73 "Unable to find concurrently"
**Describe the bug**
When starting the CLI, it can't find concurrently.

**To Reproduce**
1. Start react app `cd frontend && npm start`
2. `swa start http://localhost:3000`

**Expected behavior**
CLI should start.

**Screenshots**
![image](https://user-images.githubusercontent.com/3982077/107891844-fdcb9880-6ed5-11eb-82db-7be2602daad6.png)

**Desktop (please complete the following information):**

[2021-02-14 23:10] anthonychu opened #74 "Cannot start app without API if there's a folder named api"
**Describe the bug**
When starting the CLI, if the current directory has a folder named `api`, it is assumed that it's a function app and the CLI attempts to start it.

**To Reproduce**
1. Create a folder named `api`.
2. `swa start http://localhost:3000`

**Expected behavior**
CLI should start without an API.

**Actual behavior**
CLI attempts to start Azure Functions Core Tools in the `api` folder

[2021-02-14 23:15] anthonychu opened #75 "Port forwarding is incorrect if passing URI for app or api"
**Describe the bug**
If passing a URI of a running dev server or Functions Core Tools, the incorrect ports are used.

**To Reproduce**
1. Start a react app
2. `swa start http://localhost:3000`
3. Open `http://localhost:4200`

**Expected behavior**
App works in browser

**Actual behavior**
CLI tries to forward to port 4200 instead of 3000

![image](https://user-images.githubusercontent.com/3982077/

[2021-02-14 23:23] anthonychu opened #76 "WebSocket forwarding to dev server crashes proxy"
**Describe the bug**
App dev server has hot reloading via WebSockets is not working.

**To Reproduce**
1. Start a React dev server
2. `swa start http://localhost:3000/`

**Expected behavior**
Hot reloading should work.

**Actual behavior**
![image](https://user-images.githubusercontent.com/3982077/107892161-310f2700-6ed8-11eb-935f-cb47d5c31915.png)

proxy.js crashes

Some investigation finds that

[2021-02-14 23:30] anthonychu opened #77 "Warning about workflow not found can be confusing"
**Describe the bug**
When there's no workflow file in the repo, the CLI prints a warning.

[code]

This might mislead the user to believe that a workflow is required. Suggest removing the message. Instead, show a message that config was loaded from the workflow (it's already doing this).

[2021-02-15 11:23] #73 closed

[2021-02-15 11:23] #74 closed

[2021-02-15 11:23] #75 closed

[2021-02-15 11:23] #76 closed

[2021-02-15 13:31] manekinekko opened #80 "http-server silently bind to wrong port"
If user already has a dev server running on port, eg., `4200`, when starting the cli:

[code]

`http-server` will silently bind to existing dev server, hence serving the wrong content.

[2021-02-15 13:39] #80 closed

[2021-02-16 18:58] anthonychu opened #84 "Accessing /api/* when logged in sometimes crashes proxy"
**Describe the bug**
![image](https://user-images.githubusercontent.com/3982077/108108551-a0565980-7045-11eb-96e4-cb3764715d95.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Log in
2. Navigate to any function `/api/anything`

**Expected behavior**
Request should succeed and the auth header should be set.

**Actual**
Crashes sometimes. See screenshot

**Desktop (please complete the foll

[2021-02-16 19:35] anthonychu opened #85 "Always include anonymous and authenticated roles when logged in"
When logging in, always add `anonymous` and `authenticated` as roles in the cookie. This mirrors how it works in Azure.

[2021-02-17 21:57] manekinekko commented on #9
We deprecated the `--ui` option.

[2021-02-17 21:57] #9 closed

[2021-02-18 08:23] #84 closed

[2021-02-19 21:26] nturinski opened #88 "--api flag not respected in Windows Powershell terminal"
**Describe the bug**
Whenever I run `swa start .\frontend\build --api .\api` from the root of this repo https://github.com/microsoft/vscode-azureappservice/issues, it echoes `No API found. Skipping`.   I've confirmed that this works on MacOS and I have Func Core CLI tools v3.0.3284 installed

**To Reproduce**
Steps to reproduce the behavior:
1. Clone and npm install/npm build project https://githu

[2021-02-23 16:29] manekinekko commented on #88
Thank you @nturinski for opening this issue. @aaronpowell is already looking at this.

[2021-02-23 19:51] nturinski opened #89 "Run app with inspect/debug opened"
**Is your feature request related to a problem? Please describe.**
For users to locally debug while running the local emulator, we'll need to expose the ports for debugging/inspecting.

**Describe the solution you'd like**
I think that for node.js, this should just be running the node process with the inspect flag and specify a port.  For C#, we'll have to attach to the process via processId.

**A

[2021-02-25 06:56] anthonychu opened #91 "Runs dotnet run when I don't want it to"
**Describe the bug**
Detects .NET and runs build but I don't want it to do that.

**To Reproduce**
Steps to reproduce the behavior:
1. In a folder that has a .csproj file, start the cli for another folder that contains static assets. For example: `swa start static`
2. It thinks it's dotnet and runs dotnet run.

**Expected behavior**
It shouldn't run any kind of build, especially since the folder I

[2021-02-25 15:47] craigshoemaker opened #92 "[Auth Emulation] App doesn't show mocking UI"
When I try to navigate to the auth emulation page that mocks a user account, the browser stays on the app and never renders the auth mocking UI.

## Steps to reproduce
1. Run `swa start ./public`
2. Navigate to the app in the browser at _http://127.0.0.1:4200/_ (to verify the local server is working)
3. Navigate to _http://127.0.0.1:4200/.auth/login/github_ to attempt to emulate a login

## Expect

[2021-02-25 16:57] manekinekko commented on #92
Hey @craigshoemaker It looks like you tried to access the wrong port. I am sorry about the confusing.
The URL should be http://127.0.0.1:4280/.auth/login/github (port `4280`).

![image](https://user-images.githubusercontent.com/1699357/109186785-9218e380-7791-11eb-9db1-eeba0916b081.png)

@anthonychu any idea how can we avoid this from happening again?

[2021-02-25 17:17] craigshoemaker commented on #92
Thanks, @manekinekko!

I'll submit a PR to the readme to help call it out a bit more explicitly.

[2021-02-26 08:36] manekinekko commented on #92
PR merged in 6a837dbbe1d41bf00f2ff0d7509cd614c74374f6

[2021-02-26 08:36] #92 closed

[2021-02-26 09:17] anthonychu opened #94 "Prominently display the emulator URL at startup"
Prominently display the emulator URL at startup. Currently the ports used by auth server and others are also printed, so we need to make the actual emulator port stand out.

[2021-02-26 09:17] anthonychu commented on #92
Opened #94 to address

[2021-02-26 10:01] manekinekko commented on #94
I suggest using the [chalk package](https://www.npmjs.com/package/chalk) for that.

[2021-02-26 10:10] manekinekko commented on #89
Thank you @nturinski for opening this feature request.

@anthonychu do we have the bandwidth to add this feature before GA?

[2021-02-27 01:16] manekinekko commented on #91
That's weird. I can't reproduce this issue locally.
![image](https://user-images.githubusercontent.com/1699357/109370700-c085e400-78a1-11eb-8dc4-d3d2c5b597ed.png)

@aaronpowell would you mind giving this issue a shot on your Windows setup?

[2021-02-28 21:41] aaronpowell commented on #91
@manekinekko your test is unlikely to trigger as a dotfile returns `''` for `path.extname`, as per: https://nodejs.org/api/path.html#path_path_extname_path

The problem is that the first test is for a `csproj` file, in https://github.com/Azure/static-web-apps-cli/blob/main/src/core/runtimes.ts#L18, and this is triggered by https://github.com/Azure/static-web-apps-cli/blob/main/src/cli/commands/sta

[2021-02-28 22:01] aaronpowell commented on #91
Now that I've done some proper diagnostics of the problem, it's a little more complicated than I'd hoped.

The issue is rooted in the fact that with Blazor support we run the `dotnet watch` command, so you can edit the stuff and it'll recompile without you needing to run additional commands. This is a big of a divergence from how we do JavaScript apps, because if, say, it's a React app, unless you

[2021-02-28 22:02] aaronpowell commented on #88
This should be fixed with #71, specifically https://github.com/Azure/static-web-apps-cli/pull/71/commits/b5b935b0072c754df7f5394cd03d68c597d76202

[2021-02-28 22:30] anthonychu commented on #91
I think we need to think about whether we want to magically run dotnet watch (or npm start) here. I vote for not doing anything like this automatically.

is this behaviour documented anywhere?

[2021-02-28 22:34] aaronpowell commented on #91
No, it's not likely documented somewhere, that's crazy talk! 🤣

I agree we want to avoid "magic things" happening, and that's why I think we need to look at the scenarios of a user. If I clone a Blazor SWA that uses the cli so I can do auth, what should happen when I hit `F5` in VS Code?

[2021-03-01 01:36] anthonychu commented on #91
This still needs to be investigated and discussed with @nturinski @fiveisprime @ejizba. Hoping there's a gesture like the "initialize project" in the Functions extension that can prompt the customer for information to set up their launch config. Something like this:

https://github.com/anthonychu/swa-cli-js-sample/blob/150b4d06b988b48eb7ca26362b65336657111464/.vscode/launch.json

Except for Blazor

[2021-03-01 09:16] #13 closed

[2021-03-01 09:17] manekinekko commented on #45
@anthonychu this issue should be fixed in `main` . Feel free to close it.

[2021-03-01 09:25] #45 closed

[2021-03-01 09:26] #38 closed

[2021-03-01 18:58] craigshoemaker opened #96 "Attempting to close CLI server does not stop all running services [Windows]"
On **Windows**, attempting to close the CLI server using `ctrl-c` does not stop all running services. Additionally, sometimes a response is _very delayed_ after pressing `ctrl-c`, and at times there is no response at all.

## Steps to reproduce
1. Start a SWA site with the `swa start <APP_LOCATION>`
2. Type `ctrl-c` to stop the CLI server
3. Try to start the site again with `swa start <APP_LOCATIO

[2021-03-01 19:25] manekinekko commented on #96
Does it happen all the time? Or is it random?

[2021-03-01 20:05] craigshoemaker commented on #96
Sadly, it seem to happen intermittently.

[2021-03-04 09:11] manekinekko commented on #89
@nturinski would the following work for your needs?

[code]

The trick here is to use the standard `NODE_OPTIONS` flags to pass arguments to the node.js process.

Let me know if that's an option for you, and I will add few check in the CLI to make sure this will work as expected.

[2021-03-04 19:33] nturinski commented on #89
I think that this would work for us.  When we write a VS Code launch.json, we have the freedom to write the task however we want.  I think at that point, we can just attach the debugger and inspect like we would a normal node app.

[2021-03-04 20:53] anthonychu commented on #89
For a frontend app, my understanding is that we should be attaching to the browser as that's where the code will be executing. There's no user code executing in the emulator (or the http server used by the emulator).

Here's a config I've been using that does what I think we want to do when debugging a SWA locally:
https://github.com/anthonychu/swa-cli-js-sample/blob/78ae6b476cb675437fa2ce2cb54404

[2021-03-04 20:57] anthonychu commented on #89
If you want to see how this works, we gave a sneak peek of the CLI in the Azure Functions webcast today: https://youtu.be/xEYQBPo11iI?t=2495

[2021-03-04 21:37] nturinski commented on #89
Oh, I think Anthony is totally right on that.  Looks like I have everything that I would need to create the local experience in VS Code.  Sorry about that, that was my misunderstanding.

Thanks for this @anthonychu, this is extremely helpful

[2021-03-05 11:33] manekinekko commented on #89
I am also sorry @nturinski I completely misunderstood your initial request. I thought you were looking to debug the actual CLI code itself 😅

+1 for what @anthonychu suggested!

[2021-03-05 12:54] manekinekko opened #101 "Move auth and static servers into proxy as middleware logic"
The CLI currently spawns multiple servers:
- proxy server
- auth server
- static server

Having multiple servers to manage makes it hard to manage debugging and resources. This also introduces some unexpected behaviors like #96 and #94.

We need to move auth and static servers into proxy as middleware logic. This way we would have only one server to manage: the proxy.

Even if this is an internal

[2021-03-05 13:42] #6 closed

[2021-03-05 19:01] nturinski commented on #89
I'll go ahead and close this issue then.  Thanks again☺

[2021-03-05 19:01] #89 closed

[2021-03-08 12:04] k-miyake opened #103 "Mocking credencial using file"
**Is your feature request related to a problem? Please describe.**

I have to enter credencial every time when verify auth.

**Describe the solution you'd like**

I want to mock credencial using a file.

**Describe alternatives you've considered**

Register multiple credencial at once in the UI. However, this is not the root solution.

**Additional context**

none

[2021-03-08 13:40] manekinekko commented on #103
Thank you @k-miyake for suggesting this feature.
That's something we could add to the config file https://github.com/Azure/static-web-apps-cli/issues/20

@anthonychu any thoughts on this?

[2021-03-08 19:36] itpropro opened #104 "Replace rm with rimraf"
To make the scripts also run on Windows machines, replace rm with e.g. rimraf to make in os agnostic. Otherwise on Windows a build or start with npm/yarn will fail:

[code]

https://github.com/Azure/static-web-apps-cli/blob/3d8b6bb7e2935db479031f91e6504e38f8595750/package.json#L11

[2021-03-09 11:37] #42 closed

[2021-03-09 11:37] manekinekko commented on #42
Closing in favor of #102

[2021-03-09 11:38] manekinekko commented on #7
fixed in #44a8849

[2021-03-09 11:38] #7 closed

[2021-03-09 11:41] #101 closed

[2021-03-10 08:50] manekinekko opened #105 "Improve the rewrite/redirect rule logic"
`serve` is split into "rewrite" and "redirect" in the new config file:
- [x] Serve + status code of 301/302 = redirect.
   - [x] With redirect, we default to a 302 status code but if you specify a 301 status code we will use that instead.
- [x] Serve + any non 301/302 status code = rewrite

[2021-03-10 17:26] itpropro commented on #88
This can be closed, as I have no problems with Windows Terminal 1.5 running PowerShell 7.1 on Windows 10 x64. I use the following syntax and it works fine:

[code]
![image](https://user-images.githubusercontent.com/15030951/110670746-0742da80-81ce-11eb-945a-9773b26a4abd.png)

You can also add --app for the first parameter, but as it's the default one, this works just as expected.

[2021-03-10 17:29] itpropro commented on #32
I would like to add to support multiple workflow files for the same project. We have multiple SWA projects, where we have 2-3 workflow files to represent multiple stages. These could be combined into a single one, but if you stay with what Azure initializes in your repo, you will have one workflow file per connected SWA in Azure (e.g. Dev, Test, Prod).

[2021-03-10 20:38] manekinekko commented on #88
Thank you for the feedback @itpropro !

@nturinski would you mind trying running the CLI from the `main` branch? we've made some recent changes that might have fixed your issue.

[2021-03-10 21:14] itpropro commented on #85
If I get the documentation right, the `anonymous` role should apply to all unauthenticated users (even without login) and as soon as logged in, the roles should include `authenticated` but not `anonymous` anymore, correct @anthonychu ?

[2021-03-11 05:55] anthonychu commented on #85
I think that's actually incorrect. If you hit the `/.auth/me` endpoint or read functions the client principal header when not logged in, they are null/empty. I'm unsure what happens if you use the `anonymous` role in routes authorization rules. @mkarmark can help confirm behavior.

[2021-03-11 06:03] mkarmark commented on #85
When determining if a user is authorized to access a route, the behavior is what @itpropro describes. @anthonychu, is the concern that /.auth/me shows null/empty without logging in? That's because there isn't a user principal to display.

[2021-03-11 09:07] manekinekko commented on #20
@k-miyake sorry about the confusion:
-  `staticwebapp.config.json` is the config file for your project deployed on SWA
- `swa.config.json` (this issue) is the config file for the CLI.

Do you have other suggestions for the CLI config file?

[2021-03-11 09:28] #105 closed

[2021-03-11 11:07] manekinekko commented on #85
@anthonychu @mkarmark I understand that when a user is logged in, we should append the `authenticated` role to the user principal's `userRoles` array, like so:

[code]
However, where should we propagate the `anonymous` role if the user isn't logged in? Since the user principal is null.

[2021-03-11 11:12] manekinekko opened #108 "add support for purging auth info"
Add support for deleting user auth info:
- [ ] `/.auth/purge/<AUTHENTICATION_PROVIDER_NAME>`
- [ ] `/.auth/purge/<AUTHENTICATION_PROVIDER_NAME>`

See https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization#remove-personal-identifying-information

[2021-03-11 15:49] manekinekko commented on #32
Thank you @itpropro for the feedback.

[2021-03-11 16:00] manekinekko opened #109 "handle special case /* in routes.json"
Given the following route def (found in the legacy routes.json file:

[code]

The `/*` should only match routes segments (eg. `/about`), but not file paths (eg. `image.png`)

[2021-03-11 18:49] #109 closed

[2021-03-11 20:06] nturinski commented on #88
I can confirm that this is working! Thanks for all the hard work

![image](https://user-images.githubusercontent.com/5290572/110847203-7c132480-8261-11eb-81c7-93fa0966a0db.png)

One thing that's missing from the stable release though is the app alerting you to where it is available, which I thought was a useful touch.

![image](https://user-images.githubusercontent.com/5290572/110847799-360a9080-8

[2021-03-11 20:38] itpropro commented on #85
I also asked myself, how this would work with anonymous @manekinekko. I was talking about this part from the [documentation](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization#roles):

[code]

This implicitly states that if a user is not logged in, he still holds the `anonymous` role. Is this just unclear documentation or is the proxy actually adding a clientPrinci

[2021-03-11 20:59] mkarmark commented on #85
No we are not adding a client principal header when a user is not logged in cause there is no client principal to add to the header.

[2021-03-11 21:22] manekinekko commented on #85
Thank you @mkarmark for confirming that.

[2021-03-11 21:27] manekinekko commented on #85
Adding @craigshoemaker who wrote that documentation. Craig could you provide more details about the `anonymous` role from this part of the docs:
[code]

[2021-03-11 21:58] k-miyake commented on #20
I was mistaken, sorry.
In this issue, discussing a different file than `staticwebapp.config.json`.

It is preferable to use a file name that indicates it is for development.
For example, `swa.development.json` or `local.development.json`.

[2021-03-12 09:19] manekinekko commented on #96
@craigshoemaker would you mind giving this another try (`main` branch) and let me know if you are still having this issue?

[2021-03-12 09:22] manekinekko commented on #88
Thank you @nturinski for the feedback. We have a whole user story for logging information to the console. I will make sure we add your feedback.

I am going to close this issue (fix landed in main).

[2021-03-12 09:22] #88 closed

[2021-03-12 09:30] manekinekko opened #111 "Consolidate logging information to the console."
As SWA CLI user, I'd like to be able to have the following information printed by the CLI:
- [x] the CLI server address ([feedback](https://github.com/Azure/static-web-apps-cli/issues/88#issuecomment-797014153) from @nturinski)
- [ ] the app production URL (inferred from the GA workflow)
- [x] GA workflow file (if found)
- [x] swa config (or routes.json) file (if found)
- [x] information about the

[2021-03-12 09:39] manekinekko commented on #51
@anthonychu I think this issue can be closed now that we have our release pipeline working.

[2021-03-12 09:40] manekinekko commented on #94
Related #111

[2021-03-12 15:05] anthonychu commented on #108
I think this is probably going to be just an alias to /.auth/logout

[2021-03-12 16:24] johnpapa commented on #111
yes! I was about to add this! Colored and with white space please

[2021-03-12 16:27] johnpapa opened #112 "CTRL-C took 2 minutes to apply"
**Describe the bug**
CTRL-C many times does not close the running process, for about 2 minutes

**To Reproduce**
Steps to reproduce the behavior:
1. Using the shopathome monorepo, run the `swa start` in the root
2. CTRL-C many times
3.

**Expected behavior**
Should kill the process right away

**Additional context**
Add any other context about the problem here.
![image](https://user-images.githubu

[2021-03-12 17:22] manekinekko commented on #112
Interesting! I am unable to reproduce this.
![image](https://user-images.githubusercontent.com/1699357/110975111-97fcf000-835f-11eb-870b-737b30e80b0c.png)

I see a GET request there, have you tried to access the app from a browser before killing the process?

[2021-03-12 18:48] johnpapa commented on #112
I did refresh web page once.

[2021-03-12 19:07] johnpapa commented on #111
I wonder if we can reduce this, notice the API calls. Really nothing valuable there other than "Executing products-get" and duration, ya know? And in the second image, you can see all the "cant determine project language" stuff we've talked about

![image](https://user-images.githubusercontent.com/1202528/110986866-38411d80-833c-11eb-996e-ee9a82185dcc.png)

![image](https://user-images.githubuserc

[2021-03-12 19:09] johnpapa opened #113 "Auto-Gen the User ID, and Don;t show to the user"
For auth, is asking the user to enter a user ID confusing? This User id appears to be an Azure thing (a principal). I think we're asking for something locally that Azure generates for you when you do it in the portal. Will the customer know what that is?  Should they?

Could we generate a random value and not prompt the user? Also, Is there any reason to show this?
![image](https://user-images.git

[2021-03-12 20:48] manekinekko commented on #111
I agree.

@anthonychu do we have control over the `func` output? Can we override the user's setting from the `func` CLI to eliminate these logs?

[2021-03-12 20:51] manekinekko commented on #113
Great suggestion @johnpapa !

Here is what I suggest:
- we generate a random ID (following the same Az pattern)
- we keep that field visible but we disable it (like we do for the provider).

Wdyt?

[2021-03-12 20:53] johnpapa commented on #113
I like that.

I admit, I was completely confused. I have been using values like Fred and Sally in it:)

[2021-03-12 20:54] johnpapa opened #114 "restricting to specific auth providers is not working"
I wanted to stop facebook and google as auth providers so I set these in my config file. However, when going to the routes, they still appear. I expected these links not to work, same as in Azure.

[code]

[2021-03-12 21:00] manekinekko commented on #114
Oh! That's a regression bug. Thanks for reporting this.

[2021-03-12 22:10] manekinekko commented on #114
Good catch @johnpapa. The issue was happening because in the config file, `statusCode` is provided as a String and not Number. I added more checks to prevent that (in #115)

[2021-03-12 22:58] manekinekko opened #116 "invalid routes to /.auth/** should return 404"

[2021-03-12 23:01] #116 closed

[2021-03-12 23:01] #113 closed

[2021-03-12 23:05] manekinekko commented on #114
Closing this issue. Fix landed in a556304

[2021-03-12 23:05] #114 closed

[2021-03-13 01:37] manekinekko commented on #111
@johnpapa @nturinski @anthonychu  what do you guys think about this first iteration?

### Standalone

`swa start angular-app/dist/angular-app`

![image](https://user-images.githubusercontent.com/1699357/111014471-154a5400-83a4-11eb-98c0-6ca352d12048.png)

### Dev Server

`swa start http://localhost:4200`

![image](https://user-images.githubusercontent.com/1699357/111014498-37dc6d00-83a4-11eb-816b-

[2021-03-13 05:33] anthonychu commented on #111
What output from func do you want to suppress? Those warnings are because local.settings.json are missing. We could update func to only print it once.

[2021-03-13 12:12] manekinekko commented on #111
I think John was referring to all output. But I'd love if we can filter out the logs we wanna show or hide. I guess that m

[2021-03-13 13:34] k-miyake opened #119 "Cannot start index.html with `script type="module"`"
**Describe the bug**

Using the `0.1.1-alpha` SWA CLI,
`<script type="module" ... >` with js files loaded in `index.html` with SWA CLI, the following execution error occurs.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. build vue.js app using [vite](https://vitejs.dev/)
2. swa start ./dist (using `0.1.1-alpha` swa cli)
3. Index.html is not rendered and the following error is displa

[2021-03-13 20:01] manekinekko commented on #119
Hi @k-miyake Our npm is a little bit outdated. We will cut a new release next week.

Would you mind trying the package from the `main` branch? using the command:

[code]

[2021-03-13 22:18] k-miyake commented on #119
@manekinekko Thank you.
I installed the command from the main branch using the method you advised and had the same situation.
I'll wait for next week's release.

[2021-03-15 03:10] johnpapa opened #120 "redirect for logout is not working"
![image](https://user-images.githubusercontent.com/1202528/111098649-54021a80-851a-11eb-9848-b004f2f78799.png)

Trying this in the shopathome app using Svelte. https://github.com/johnpapa/shopathome/tree/main/svelte-app

@manekinekko

[2021-03-15 08:18] anthonychu commented on #112
I've run into this on macOS a couple of times.

[2021-03-15 08:20] anthonychu commented on #111
I think it's important to keep some of the function app logging and we should keep it the way it is for now. Main concern here is if we hide too much, it's hard to tell what's going on and people end up raising support tickets.

[2021-03-15 08:26] anthonychu opened #124 "Display unique output to indicate SWA CLI is up and ready for requests"
VS Code needs to watch for some text so that it knows when the CLI is ready. Perhaps change `press CTRL+C to exit` to something slightly more unique, such as `Azure Static Web Apps emulator started. Press CTRL+C to exit`. Or we can use the output of #94 for this.

[2021-03-15 08:31] anthonychu opened #125 "Add flag to accept location of config or routes.json"
When using a dev server (`swa start http://localhost:3000`) or when serving static files from a folder that doesn't contain staticwebapp.config.json (`swa start ./dist`), allow the location of the config/routes file to be specified from the CLI.

Should be able to specific the path to the file, or the folder containing the file (if both staticwebapp.config.json and routes.json exist, use staticweb

[2021-03-15 09:36] k-miyake opened #126 "Error when defining Fallback routes"
**Describe the bug**
Using the 0.2.0 SWA CLI,
when put the Fallback routes in config, initial screen created Vue.js is not rendered and getting an error in the browser console.

defined fallback routes following in ` staticwebapp.config.json`.

[code]

**To Reproduce**
1. Build the Vue application with `npm run build`
2. Run `swa start ./dist`
3. Index.html is not rendered and the following error

[2021-03-15 09:51] manekinekko commented on #125
Currently, the CLI looks for the `staticwebapp.config.json` or `routes.json` from the root of `appLocation` and crawls all folders to find those files. If both files are found, `staticwebapp.config.json` will be used.

Should we change this behavior @anthonychu ?

[2021-03-15 09:53] sinedied commented on #111
@manekinekko The new proposed output looks nice, I have 2 comments though

- I think it would be nice to have a less verbose output by default, not sure I need to know every request that goes by, only those that resulted in an error. A `--verbose` option could be used to show all the details.
- The prefixes `[swa]`,` [api]` clutters the output IMHO, by default I would prefer a simpler view without

[2021-03-15 10:19] manekinekko commented on #126
Hey @k-miyake the fallback should match how your application is served. In you case, the `fallback` rule should look like:

[code]

You need to update the exclusion rule so that all Vue.js javascript file and css can be served and not blocked. Let me know if that's clear.

![image](https://user-images.githubusercontent.com/1699357/111138325-16d07380-8580-11eb-9240-a3914ac48645.png)

[2021-03-15 10:27] k-miyake commented on #126
@manekinekko Thanks! The settings you wrote solved the problem.
I was confused because the configuration has changed since `routes.json`.

[2021-03-15 10:44] k-miyake commented on #126
@manekinekko The `navigationFallback` now works, but rewrite and redirect no longer work correctly.
For example, if access `http://localhost:4280/login`, get a blank screen. The settings for `routes` are as follows.

[code]

[2021-03-15 13:35] johnpapa commented on #111
I appreciate the feedback y'all have left here and I agree that some logging is important to keep as @anthonychu write and also that the prefixes seem to clutter a little, as @sinedied  wrote. I also feel that the right balance of bth of these is probably what is needed and we're all trying to find.

1. remove the colors from the prefixes. colors make it stand out and I'm not sure we need every li

[2021-03-15 15:51] #120 closed

[2021-03-15 15:52] manekinekko commented on #126
Thank you @k-miyake I will investigate that.

[2021-03-16 03:33] anthonychu commented on #125
Yeah. Maybe I need to understand more about how the file discovery logic works. There’s no app_location if proxying to a dev server. I guess one can be inferred if we can find a GitHub action workflow. But I then would like to understand what happens if there are more than one workflow (like in a monorepo).

[2021-03-16 03:45] anthonychu commented on #51
Yep this was addressed with #122. I still need to add the release instructions though.

[2021-03-16 08:51] #126 closed

[2021-03-16 09:02] manekinekko opened #130 "SWA config/workflow files are applied even if binding to a dev server"
**Describe the bug**
When binding to a dev server: `swa start http://localhost:4200`, we currently load the wrong swa config file from the current folder and not the one from the dev server.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app 1 folder (eg. Angular)
2. Start its dev server `ng start`
3. Go to app 2 folder (eg. Vue)
4. Run SWA from there and bind to Angular dev server: `

[2021-03-16 10:39] #130 closed

[2021-03-16 11:00] manekinekko commented on #125
Here is how we currently process the start command...

- start cli with a context `swa start <context>`
- if `<appContext>` is local folder and exists:
  - set `appArtifactLocation = appContext`
   - look for SWA workflow files under `<appLocation>/.github/workflow/**.yml` (use 1st file for the moment - see #32).
   - merge CLI config with workflow config (CLI takes precedence)
   - look for user'

[2021-03-16 12:35] manekinekko commented on #119
Hey @k-miyake I can't reproduce the issue. Could you please try again with the latest code from `main`?

![image](https://user-images.githubusercontent.com/1699357/111309633-6a17f400-865c-11eb-8f6c-1ba88eee8be6.png)

[2021-03-16 12:48] k-miyake commented on #119
@manekinekko I updated the SWA CLI to `0.2.0` -> `0.2.1-alpha` and Vite to `2.0.5` -> `2.1.0` and it worked!
Thanks for the quick response!
I'll demo it at Azure local event next week!

[2021-03-16 12:48] #119 closed

[2021-03-16 22:07] manekinekko commented on #119
That's awesome! Let's know how it went ☺️

Good luck!

[2021-03-16 23:19] manekinekko commented on #111
Thank you all. Based on your feedback I've update the `--verbose` flag to accept the following options:

    - log    : print basic information (default)
    - info   : print more information
    - silly   : print everything (also sets DEBUG=*)
    - error : print errors only
    - silent: don't print any logs nor errors

### `--verbose=log`
![image](https://user-images.githubusercontent.com/16993

[2021-03-17 04:41] anthonychu commented on #85
@manekinekko Just tried this and it looks like logged in users are in `authenticated` role but not `anonymous`. Can we add `anonymous` too?

[2021-03-17 06:19] anthonychu opened #132 "swa help start doesn't show flags"
I think these flags that show in `swa --help`:

[code]

... should appear instead under `swa start --help` or `swa help start`.

[2021-03-17 06:35] anthonychu commented on #77
This seems to still be there.

[2021-03-17 06:39] anthonychu opened #133 "Questions: swa start"
Have a few questions about parts of the `start` command that are unclear...

* What's the "context" and how does that differ from appLocation or appArtifactLocation?
    - If I have a folder named `static` and I want to serve it, it seems like the only way to make this work is to set the context: `swa start ./static`. `swa start --app-location ./static` (or using `--app`) doesn't seem to work.
* H

[2021-03-17 08:18] #111 closed

[2021-03-17 08:18] #124 closed

[2021-03-17 08:54] manekinekko commented on #85
Done.

[2021-03-17 08:55] #85 closed

[2021-03-17 08:58] manekinekko commented on #133
Great questions! Let's talk about this during our next call and then I'll write down the answers in the wiki.

[2021-03-17 09:04] manekinekko commented on #132
I've changed it to be like this...
![image](https://user-images.githubusercontent.com/1699357/111441914-1662e480-8708-11eb-9888-25e64c013dee.png)

[2021-03-17 10:05] manekinekko commented on #77
I've made this accessible behind the `--verbose=info` flag. Which is not the default.

The change is live in `main`

[2021-03-17 20:37] manekinekko opened #135 "Update --build logging experience"
When building app/api before start using `--build`, we need to update the logging experience (following #127)

[2021-03-17 20:37] #132 closed

[2021-03-18 13:58] #135 closed

[2021-03-19 14:37] manekinekko commented on #133
`context` determines how the emulator will serve the static content:
- if `context` is a folder, then we will start the emulator and serve static content from that folder
- if `context` is an HTTP address, then we will start the emulator and proxy req to the dev server

In both cases, we reconfigure `appLocation` and `appArtifactLocation` to reflect that:
- `appArtifactLocation = context`
- `appLo

[2021-03-21 10:01] NickBosworth opened #137 "Blazor Wasm Support"
**Is your feature request related to a problem? Please describe.**
There currently doesn't seem to be support for spoofing authentication with a blazor wasm dev server. .auth/ requests just hit the internal routing 404.

**Describe the solution you'd like**
Documentation setup / workaround - I suspect this is an inherent limitation of blazor as it is using its internal routing with requests never

[2021-03-21 11:46] #137 closed

[2021-03-21 11:46] NickBosworth commented on #137
Resolved use case with Anthony Chu's excellent post [here](https://anthonychu.ca/post/blazor-auth-azure-static-web-apps/)

[2021-03-22 09:40] manekinekko opened #139 "Suggestion to update changelog format"
Instead of this:
[code]

We could print this:
[code]

This information can be extracted from commit messages because we follow [conventional commit format.](https://www.conventionalcommits.org/en/v1.0.0/)

[2021-03-24 15:23] manekinekko commented on #23
After discussing this with the team, we are simply going to use https://azure.microsoft.com/en-us/services/app-service/static/

[2021-03-24 15:23] #23 closed

[2021-03-24 15:28] manekinekko commented on #5
We are probably going to skip this for now.

[2021-03-24 15:37] manekinekko opened #141 "Write e2e for the CLI"
Current e2e repo app: https://github.com/manekinekko/static-web-apps-cli-e2e

cc @anthonychu

[2021-03-24 21:18] nturinski opened #142 "Definitive output for when the SWA and API are running and available"
This is largely to support tasks in VS Code.  Specifically, if we had output that we can match to signify the end of the `swa start` task, it would make creating the launch and task jsons a little bit cleaner.

For example, today I am waiting on `"Host lock lease acquired` but this only applies if I have an api in my project.  Without an api, `serving * at http://0.0.0.0:4280` would be end output.

[2021-03-25 07:05] anthonychu commented on #142
Does the current output from #124 suffice? Feel free to suggest something that would work better.

@manekinekko Probably should add to the startup tests that we plan to write to ensure this output remains the same.

[2021-03-25 07:07] anthonychu commented on #141
Mine are currently here: https://github.com/anthonychu/swa-cli-js-sample/tree/main/tests We can take anything from here that makes sense.

[2021-03-25 09:09] manekinekko commented on #142
That's the message we currently output. However, I noticed when we also spawn the API server, it obviously takes more time to start (as you can see from the screenshot). Would that be a problem @nturinski ?

Also, as @anthonychu mentioned, feel free to let me know if the message we output does the job for you or we can add a different marker?

![image](https://user-images.githubusercontent.com/169

[2021-03-25 16:48] taylora3 opened #143 "Blazor SWA giving a 404 when swa start is run"
When I run swa start in the root folder of the project and click on the link http://192.168.0.87:4280/ I get a 404 Not found page.

I created the Blazor swa from microsoft learn https://docs.microsoft.com/en-us/learn/modules/publish-app-service-static-web-app-api-dotnet/ and my code can be found here: https://github.com/taylora3/ShoppingList

**Steps to reproduce the behavior:**
1. Pull code from

[2021-03-25 18:00] nturinski commented on #142
Yeah, you nailed it.  For VS Code, we would want to launch the debugger only after the API server is done spawning (if they have one).

Though now that I think about it, it should be fine to listen for `Azure Static Web Apps emulator started` for one task and `Host lock lease acquired` for another since we'll probably have to define two separate tasks for users anyway (one with API and one without

[2021-03-25 18:59] manekinekko commented on #142
@nturinski so currently we start the emulator in one process, and then start the API (if provided) in a different process. The two processes don't communicate together. Right now, the emulator has no idea when the API is ready or not. To do that I will have add some logic and await for the API to boot before spawning the emulator. It should be doing in a day.

Do you need me to explore this option

[2021-03-25 20:47] nturinski commented on #142
Nah, I don't think it'll be necessary.  Thanks for all the info!

[2021-03-26 09:51] manekinekko commented on #4
Fixed in #140

[2021-03-26 09:51] #4 closed

[2021-03-26 10:24] manekinekko commented on #143
Thank you @taylora3 for opening this issue.

@aaronpowell any idea how can we infer the runtime host from this dotnet project structure:

[code]

[2021-03-26 10:47] manekinekko commented on #94
Closed in #111

[2021-03-26 10:47] #94 closed

[2021-03-26 10:55] manekinekko opened #144 "Support running external script (or dev server) on startup"
**Is your feature request related to a problem? Please describe.**

We'd like to be able to run an external program when starting the emulator.

**Describe the solution you'd like**
[code]

**Additional context**
When providing the `--run` flag, and if depending on a dev server, users will have to pass a dev server address as well:

[code]

Users can also specify a different appLocation from where

[2021-03-26 14:36] #144 closed

[2021-03-28 23:22] aaronpowell commented on #143
In the case where a workflow file isn't present yet in the repo, it might be a little tricky to attempt to determine where the client and api projects reside (a workflow file makes it obvious).

We can have it follow the pattern described in our docs, which results in the above demo'ed structure (`/Client` containing the Blazor app, `/Api` containing the Functions), but I foresee that not being vi

[2021-03-29 00:12] anthonychu commented on #143
IMHO to have `swa start` work magically is problematic. Started a discussion in #133 about this. We should investigate supporting a config file at the root of the repo #20 that contains settings needed to run the app (need to figure out how this would work for monorepos, could be single file with multiple contexts or multiple files). If you run `swa start` and no such file is available, I'm thinki

[2021-03-29 14:49] taylora3 commented on #143
Thanks for your assistance. I'm still getting the 404 although it seems to be getting a bit further that it did before. I am getting a bit concerned that it an issue on my machine which I'll investigate further (node setup maybe??)

There is a .github/workflows file. I tried using the --build flag to see if that would help but I got the same outcome.

The application runs successfully via visual s

[2021-03-29 15:27] anthonychu commented on #143
@taylora3 Sorry I think that's actually due to bad advice on my part.

Forgot this app is Blazor. I think your best bet is to start the Blazor dev server separately:

[code]

Then in a second terminal:

[code]

[2021-03-29 16:10] anthonychu opened #146 "Wait for ports to be available at startup"
**Is your feature request related to a problem? Please describe.**

Currently, when you run a command like `swa start http://localhost:3000`, the CLI exits if port 3000 is not immediately available.

This makes it difficult to set up a launch config in VS Code, where VS Code needs to detect that the dev server or function app are up before starting `swa`.

**Describe the solution you'd like**

At

[2021-03-29 16:12] anthonychu commented on #146
I've been using the [wait-on](https://www.npmjs.com/package/wait-on) package on some emulator end-to-end tests to wait for ports to be available and it's been working well.

[2021-03-29 16:42] anthonychu opened #147 "Allow custom startup commands"
**Is your feature request related to a problem? Please describe.**

When starting the emulator with a dev server, we need to start the dev server separately before starting `swa`.

**Describe the solution you'd like**

Allow an app startup command and working folder to be provided. The emulator starts the command before proceeding. For example, running a startup command in the frontend folder migh

[2021-03-29 17:43] anthonychu commented on #20
For naming, thinking something like `swa-cli.config.json` so it's clear that it's for the CLI.

For contents, I think we can start with a single prop named `configurations` (not sure what else to name them, maybe `environments`? `contexts`?).

[code]

If there's a single configuration, `swa start` can just use it.

If there's more than one, use `swa start app1`. If there's a folder of the same nam

[2021-03-29 17:56] manekinekko commented on #147
I think this is a duplicate of https://github.com/Azure/static-web-apps-cli/issues/144 ?

[2021-03-30 06:21] anthonychu commented on #147
Thanks. Didn't know you already implemented it!

I tried it and can't figure out how it works.

What is the equivalent of `swa start http://localhost:3000 --app-startup-command "cd frontend && npm start"` above? I tried `swa start http://localhost:3000 --run "npm:start" --app frontend` and other variations.

How does the `npm:start` syntax work? Can I just pass any command (e.g., `dotnet watch run

[2021-03-30 11:48] manekinekko commented on #147
You can pass it a shell script to execute. This way we are not limiting the user to a single command. And also this avoid dealing with special character.

However, the equivalent of your command would be:

[code]

_(however, I haven't yet implemented #146 so this command may fail because port 3000 is not yet ready)_

`npm:start` follows this pattern `<npm or yarn>:<script in package.json>`

You wo

[2021-03-30 14:01] taylora3 commented on #143
Thanks @anthonychu I got it running by running both client and api and then referencing the localhost dev servers.

I'm happy for this to be closed. I'd suggest adding a Blazor update to the readme to avoid confusion for other users.

This worked for me:
`
swa start http://localhost:5000 --api http://localhost:7071/
`
For me i'd like to run something like the following to get a Blazor project to b

[2021-03-30 14:44] manekinekko commented on #143
I am glad to hear it worked for you @taylora3.

he CLI currently supports building an frontend app and an API backend using the `--build` flag. However, I am not sure the build process works great for Blazor.

Out of curiosity, what's the exact build command you run to build this app?

[2021-03-30 15:51] anthonychu commented on #147
I think a shell script is too heavy. How big of a problem is it with special characters? Can we also supporting taking a string that's the command?

I like the parameter name `run`, however I wonder if we ever need to specify how to run the function app too.

[2021-03-30 18:38] manekinekko commented on #147
How about we simply allow passing custom commands like the one we have in the workflow file:
- `--app-build-command` // run from the --app-location folder
- `--api-build-command` // run from the --api-location folder

These flags would override what users have in their workflow file (if they have one).

Users can then pass in any command they want. Would that work?

[2021-04-01 05:09] anthonychu commented on #147
I think there’s a different between “build” and “run”/“startup command”. Build implies run to completion, then start emulator. The command I’m looking for is run and start emulator when port is available. So I think this would work better as something other than a build command.

[2021-04-01 08:56] manekinekko commented on #147
Would this work for you?

[code]

[2021-04-01 10:40] #146 closed

[2021-04-02 14:20] #125 closed

[2021-04-02 15:17] anthonychu opened #150 "Auth login should allow modification of the User ID"
Auth login should allow modification of the User ID.

In the UI: `authorisation` should be `authorization` (en-US).

[2021-04-02 18:00] anthonychu commented on #147
[code]

This looks great!

Can you also provide more info on how `--run` works currently? I try it and nothing happens. For example, in a folder where I can run `npm run start`. If I run this command it gets stuck:

[code]

[2021-04-03 22:48] #150 closed

[2021-04-04 00:42] #112 closed

[2021-04-07 02:24] k-miyake opened #165 "rewrite is not working"
**Describe the bug**
I have configured the routes in `staticwebapp.config.json`, but rewrite is not working as expected.
The config file is below. The application is Vue, created with Vite.

[code]

**To Reproduce**

1. Go to 'http://localhost:4280/login'
2. Provider-unidentified login pages are displayed.

**Expected behavior**
`/.auth/login/github` will be displayed

**Screenshots**
![swa-issue]

[2021-04-07 04:30] sajeetharan opened #166 "Azure static apps CLI : Cannot get it working with Angular App"
**Describe the bug**
I am not exactly sure if this is a bug. But i have a simple angular application and i installed the CLI for static web apps. When i tried to do a local build with the output path i am getting the below error!

![image](https://user-images.githubusercontent.com/4833351/113810469-f57e3400-9787-11eb-866f-50e094e7e0e4.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Crea

[2021-04-07 05:27] anthonychu commented on #166
@sajeetharan What version of Node are you using?

[2021-04-07 07:36] sajeetharan commented on #166
@anthonychu  i found that i was using v10.16.0, now i upgraded to v14.16.1 .

![image](https://user-images.githubusercontent.com/4833351/113828404-f754f100-97a1-11eb-9988-188334f2a06d.png)

when i access http://localhost:4280/ it says it cannot get!

[2021-04-07 07:54] manekinekko commented on #165
Thank you for report this issue @k-miyake 👍 we'll review and merge #167 to fix it.

[2021-04-07 08:03] manekinekko commented on #166
@sajeetharan if you are using Angular, then by default your static assets should be under `./dist/<angular-app>/`.

Also, interesting to see that we could not bind to your LAN IP address. Do you have any special setup?

[2021-04-07 08:13] manekinekko opened #168 "Show 404 page if can't serve a file"
This is a regression bug. We used to show a custom [404 page](https://github.com/Azure/static-web-apps-cli/blob/main/src/public/404.html), but this seems to be broken now. The logic responsible for this should be here:

https://github.com/Azure/static-web-apps-cli/blob/cf9acb6e06d4e152c6ad95ce9827719b11bb5f1b/src/proxy/server.ts#L206-L231

[2021-04-07 08:14] manekinekko commented on #166
@anthonychu  we should probably mention in the README that we only support node 12 and latest.

[2021-04-07 08:17] #141 closed

[2021-04-07 08:17] k-miyake commented on #165
@manekinekko Thanks for the quick response. Looking forward to the fix.

[2021-04-07 08:23] manekinekko commented on #139
Fixed.

[2021-04-07 08:23] #139 closed

[2021-04-07 08:23] #77 closed

[2021-04-07 08:24] #142 closed

[2021-04-07 11:24] sajeetharan commented on #166
@manekinekko Yeah with the latest version app is running, but it does not get the default page loaded, i don't have any special setup. can you be specific? i am running on windows 10 and using windows terminal

[2021-04-07 14:06] manekinekko commented on #166
What do you see when you access [http://0.0.0.0:4280](http://0.0.0.0:4280)?

the CLI is supposed to capture and bind to your local LAN IP:
![image](https://user-images.githubusercontent.com/1699357/113879484-d8168d80-97ba-11eb-84cb-c90e4a7a958f.png)

In your screenshot I see `http://undefined:1234` which is not good. I need to investigate this.

[2021-04-07 17:49] manekinekko commented on #166
Interesting! Can you please share your repo (if it's public)? Or a screenshot of the content of your dist/<app> folder?

[2021-04-07 18:07] sajeetharan commented on #166
@manekinekko  Here is the repo https://github.com/sajeetharan/meme4fun

[2021-04-07 19:06] manekinekko commented on #166
@sajeetharan I could not reproduce the issue you're having with your repo. When start the CLI, I can access to your app:

Here are the steps I followed:

[code]
![image](https://user-images.githubusercontent.com/1699357/113920293-e083be00-97e4-11eb-914c-9e05918c4985.png)

![image](https://user-images.githubusercontent.com/1699357/113920105-a87c7b00-97e4-11eb-9fc1-833b282f773a.png)

[2021-04-08 06:38] sajeetharan commented on #166
Thanks @manekinekko i cloned it again and tried, seems to be working fine.

I think the mistake i made was without mentioning the path i just ran

`swa start`

[2021-04-08 06:40] anthonychu opened #173 "navigationFallback without exclude property fails"
**To Reproduce**
Steps to reproduce the behavior:
1. Add a `navigationFallback` with a rewrite location but no `exclude` property
2. Going to a non-existent page throws an exception

[code]

CLI v0.3.0

[2021-04-08 06:50] anthonychu opened #174 "Some problems with route authorization"
**To Reproduce**
https://github.com/anthonychu/anthonychu-test-vueapp2/blob/ad07cbd66c5845b28a5b4b2118c28f98f6bee6c4/staticwebapp.config.json

Clone above repo

[code]

Go to `http://localhost:4280` and log in.
`/.auth/me` verifies logged in

* `/` still returning 401
* `/api/info` still returning 401

CLI v0.3.0

[2021-04-08 06:55] anthonychu opened #175 "Rename --routes-location"
**Is your feature request related to a problem? Please describe.**
Config file no longer called routes.json. We should call this something else.

**Describe the solution you'd like**
Maybe `--config-location`? Is it confusing if we have a CLI config too #20?

[2021-04-08 07:01] anthonychu opened #176 "Apply config when running dev server"
**Is your feature request related to a problem? Please describe.**
When running a dev server, config like rewrites, authorization are not applied.

**Describe the solution you'd like**
Apply config even when running dev server
* staticwebapp.config.json in current directory: `swa start http://localhost:8080`
* staticwebapp.config.json elsewhere: `swa start http://localhost:8080 --routes-location w

[2021-04-08 07:25] manekinekko commented on #176
This can be easily fixed by removing this check:
https://github.com/Azure/static-web-apps-cli/blob/888bbcd5390e44924a3f30d8cbaffdd8473f5678/src/proxy/server.ts#L310-L312

[2021-04-08 08:16] #165 closed

[2021-04-08 08:52] manekinekko commented on #165
@k-miyake this issue should be fixed now in `main` branch (#0934043)

[2021-04-08 09:00] manekinekko commented on #166
Glad to hear it's working. Yeah, `swa start` is an alias to `swa start  ./` which will start the server from the current folder.

[2021-04-08 09:01] #166 closed

[2021-04-08 11:18] santoshyadavdev commented on #108
Going to try this out.

[2021-04-08 19:11] manekinekko commented on #147
Good catch! What's happening here is that when we start with a dev server context (`swa start http://localhost:3000 ...`), we await ([waitOn](https://www.npmjs.com/package/wait-on)) for that dev server to be ready before moving on.

This process will block the rest of the script and hence we don't reach the `--run` logic.

To fix this, I suggest that we skip awaiting for the dev server if we are a

[2021-04-09 01:38] k-miyake commented on #165
@manekinekko Confirmed that it's fixed in `0.3.1-alpha`! Thanks.

[2021-04-09 03:38] k-miyake opened #178 "404 pages will not be displayed with fallback routes in config"
**Describe the bug**
Vue.js app are served with 0.3.0 CLI.
When put the fallback routes in config, 404 page is not displayed.

Defined fallback routes following in ` staticwebapp.config.json`.

[code]

**To Reproduce**
1. Build the Vue application with `npm run build`
2. Run `swa start ./dist`
3. Enter the URL of a path that does not exist, for example, `http://localhost:4280/abc`.
4. You will see

[2021-04-09 08:24] manekinekko commented on #178
Thank you @k-miyake for creating this issue. it looks like this is a duplicate or related to #168 that I am already working on. Will keep you posted.

[2021-04-09 08:34] manekinekko commented on #178
@k-miyake I tried your steps on a local Vue app and I can see my custom message. Can you share a screenshot of your issue?

![image](https://user-images.githubusercontent.com/1699357/114152796-f7c6c680-991e-11eb-8c3c-da549883840c.png)

[2021-04-09 08:35] manekinekko commented on #178
btw, in my Vue router configuration, I've setup a custom 404 component:

[code]

[2021-04-09 09:14] k-miyake commented on #178
@manekinekko
My explanation may have been bad.
I wanted to know how to get the default 404 page of the SWA CLI to show up, not the custom 404 page not showing up.
If you remove the fallback setting, the SWA CLI's 404 page will be displayed.
![404](https://user-images.githubusercontent.com/1104403/114157850-092fc300-995f-11eb-8d65-bb9c35147605.png)

[2021-04-09 10:01] k-miyake commented on #178
@manekinekko
I realized that since it's an SPA, it's impossible to display the SWA 404 page as long as I set a fallback.
I'll wait for the #168 fix and use custom 404.
Thanks.

[2021-04-09 14:07] manekinekko commented on #175
Naming is hard! What about?

- `--cli-config-location`: for the CLI config
- `--swa-config-location`: for staticwebapp.config.json

[2021-04-09 14:09] #168 closed

[2021-04-09 14:10] manekinekko commented on #178
Fixed by https://github.com/Azure/static-web-apps-cli/pull/179. @k-miyake  can you confirm it's working for you as expected?

[2021-04-09 14:34] k-miyake commented on #178
@manekinekko
I installed CLI from main branch, and the 404 page is displayed, but fallback does not work.

[2021-04-09 14:44] manekinekko commented on #174
@anthonychu can you confirm that this is what you expect:
![image](https://user-images.githubusercontent.com/1699357/114197679-dd0e4500-9952-11eb-8211-793c5fb9a06c.png)

[2021-04-10 22:28] anthonychu commented on #174
Look's great. Thanks. I added a suggestion in the PR to make the test descriptions more clear.

[2021-04-10 22:33] anthonychu commented on #175
Ok. I think that works. It's unclear if one day we'll need to specify the CLI config too (probably). If that's the case, `swa-config-location` works. 😅

[2021-04-11 16:13] santoshyadavdev commented on #108
Hi @manekinekko few questions,
The endpoints mentioned should be called when we click logout in the app right?
Also the endpoints should be relative to the current URL, for eg:  http://localhost:4200/.auth/purge/<AUTHENTICATION_PROVIDER_NAME>

Let me know if my assumption is correct.

[2021-04-13 18:20] #178 closed

[2021-04-13 20:27] manekinekko opened #183 "Scully-routes.json can't be loaded"
When serving a static app generated by [Scully](https://scully.io/), its routes configuration file called scully-routes.json can't be loaded (returns 404).

[2021-04-14 00:57] anthonychu commented on #174
@manekinekko  This didn't seem to fix the issue for me. Can you try cloning the repo and see if you can reproduce with the latest build from main?

[2021-04-14 07:35] manekinekko commented on #174
Sure. I am Investigating this rn.

[2021-04-14 07:38] manekinekko commented on #174
@anthonychu in your config file, you are restricting the `/` to roles with `authenticated` only:

[code]

So, we are blocking access to `/` because the user is not logged in.

[2021-04-14 15:27] anthonychu commented on #174
It still returns 401 after logging in though (cookie is set). Here’s the same app deployed:

this is 401:
https://blue-cliff-01805301e.azurestaticapps.net/

then log in:
https://blue-cliff-01805301e.azurestaticapps.net/.auth/login/github

and now the routes work.

[2021-04-14 16:00] manekinekko commented on #174
Oh! It looks like the issue comes from the `navigationFallback` rules. We are redirecting all requests to `index.html`:
[code]

Updating the rule to the following works:
[code]
![image](https://user-images.githubusercontent.com/1699357/114740425-204d2700-9d4a-11eb-9f35-af34bbcde8ab.png)

The CLI intentionally rewrites all routes that don't match the rule. Should we ignore `navigationFallback` if n

[2021-04-15 13:02] #173 closed

[2021-04-15 13:05] manekinekko commented on #174
I've included a fix for this as part of #173. Lmk if this fixes your issue.

https://github.com/Azure/static-web-apps-cli/blob/23699329b607fca74789d6b27d950d5562bc9089/src/proxy/routes-engine/rules/navigationFallback.ts#L27-L30

[2021-04-15 13:25] manekinekko commented on #108
If the developer adds these routes in their application, then yes, they'd be called when the user clicks on them.

So by design the SWA CLI doesn't support Auth locally. We provide an emulated mode for Auth when you access `/.auth/login/<provider>`. Then we only propagate the cookies in all requetes.

As @anthonychu mentioned, for now, I think we can simply add these purge requests as aliases for

[2021-04-15 14:18] anthonychu commented on #174
I think we need to rearchitect the order in which things are processed (fallback and response overrides act on the response, not request). Haven’t had time to investigate and write up what the rules should be. Will try to do that in a couple of days.

[2021-04-16 12:24] #175 closed

[2021-04-16 13:15] #183 closed

[2021-04-16 14:47] manekinekko opened #186 "Improve routes engine"
This issue will track our efforts to improve the implementation of the routes engine.

@anthonychu I started a draft branch with few code changes: https://github.com/Azure/static-web-apps-cli/tree/issue-186

[2021-04-16 15:08] fgiuliani commented on #176
@anthonychu @manekinekko can I take a look here? Do you have some guidance for a first-issuer? 😂

[2021-04-16 23:51] manekinekko commented on #176
Thank you @fgiuliani for offering your help. Please have a look at our [contributing guide](https://github.com/Azure/static-web-apps-cli/blob/main/CONTRIBUTING.md) in order to get started.

[2021-04-17 17:19] santoshyadavdev commented on #108
I am using windows and dont have installed azure-functions-core-tools, while running the `swa start` I am getting below error:

![image](https://user-images.githubusercontent.com/11923975/115121203-fbb5b100-9fce-11eb-95c2-0c82dbe3aadc.png)
As per doc, it is optional, I am installing azure-functions-core-tools to check if it is the one causing the issue.

[2021-04-17 20:28] manekinekko commented on #108
From your screenshot it looks that you have a space in your path "SWA CLI".

Are you able to send a PR to fix this? The fix would be to wrap the path with `"   "` in these lines:

https://github.com/Azure/static-web-apps-cli/blob/16c4f35df8191f0ffd87c1ee82e52061b909e736/src/cli/commands/start.ts#L82

Here:
https://github.com/Azure/static-web-apps-cli/blob/16c4f35df8191f0ffd87c1ee82e52061b909e736/s

[2021-04-18 01:45] runceel commented on #174
@manekinekko

I'm using the latest SWA CLI v0.3.0. I'm facing different response status codes between Static Web Apps and SWA CLI.
I guess that is related to a PR for this issue.

On SWA(Azure), in unauthorized cases, a response status code is **401**. But SWA CLI returns **403**. I checked the following PowerShell script.
I expect returning **401** on unauthorized cases.

[code]

[2021-04-18 04:03] santoshyadavdev commented on #108
Yes sure, will do that.

[2021-04-19 08:56] manekinekko commented on #176
@fgiuliani We are planning to cut a minor release by end of week. Are you able to send a PR this week?

[2021-04-19 09:00] manekinekko commented on #174
@runceel  I think we have fixed this issue in the [main](https://github.com/Azure/static-web-apps-cli/commit/main) branch but we didn't cut a new release yet. We are also improving the routes engine logic (#186). Please stay tuned.

[2021-04-19 09:47] manekinekko commented on #96
@craigshoemaker  would you mind giving this another try (main branch) and let me know if you are still having this issue?

[2021-04-19 18:20] fgiuliani commented on #176
Hi @manekinekko!
I'm able to work on this issue this week, but I think I need some guidance about the changes to be made.
I was looking at the contributing guide and the code of the app and I'm not sure I get what has to be done.

Thank you for the help and sorry for bothering you!

[2021-04-20 01:11] runceel commented on #174
@manekinekko Thanks!
I'm looking forward to the release of next version.

[2021-04-21 06:46] anthonychu commented on #186
@manekinekko Thanks for creating the branch. Been trying to think about how the logic should work. Came up with the pseudocode below. Not sure how to change the existing code to match. Let me know if you have ideas.

[code]

[2021-04-21 13:50] manekinekko commented on #186
I think the best option would be to rewrite bits of the proxy and routes engine. Do you need me to take care of that?

[2021-04-21 14:02] manekinekko commented on #176
Hey @fgiuliani we are going to refactor the proxy implementation (in #186) and this change will be affected. So we're gonna delay this feature for now.

[2021-04-21 14:06] fgiuliani commented on #176
got it @manekinekko. Thank you!

[2021-04-22 00:31] anthonychu commented on #186
Yes. If you can that’d be great. Couldn’t figure out how to even get started without breaking all the tests!

[2021-04-22 17:57] manekinekko commented on #108
@santoshyadavdev did you have a chance to work on the PR?

[2021-04-22 18:02] santoshyadavdev commented on #108
Sorry for delay here the changes you suggested worked, need to add tests, will do over the weekend, just to understand on Testing part, it will be a E2E test to check npm start command right?

[2021-04-22 21:01] manekinekko commented on #108
@santoshyadavdev don't worry about the tests. I will add those. That's part of another task. Thanks buddy ❤️

[2021-04-23 06:45] santoshyadavdev commented on #108
Great then I will push the changes tomorrow 😊

[2021-05-02 17:29] lauralani opened #190 "Weird wildcard route behaviour when specifying methods"
Hi,

while working on a new personal project, I've noticed a strange behaviour for wildcard routes:

I've configured the following route:
[code]
In addition, in the project I have the following C# API:
* GET /api/books (gets all books in Database)
* GET /api/books/{id} (gets the book with {id} from the db)
* POST, PUT and DELETE for the books are only mocked via proxies.json

The behaviour I'd exp

[2021-05-05 08:24] #108 closed

[2021-05-12 07:52] anthonychu opened #200 "Warn if function app includes non-HTTP triggers"
**Is your feature request related to a problem? Please describe.**
Static Web Apps managed function apps currently do not support non-HTTP functions. These functions work locally but fail when deployed.

**Describe the solution you'd like**
Display a warning at startup if there is a function app and it contains non-HTTP functions.

**Additional context**
https://twitter.com/OliTomli/status/1392139

[2021-05-12 20:34] #200 closed

[2021-05-13 18:36] GeekTrainer commented on #186
Wanted to bump this one as I'm currently having an issue with routes set in the staticwebapp.config.json file being ignored.

Environment:
App created with Svelte-Kit, running via Vite.
Start script: `svelte-kit dev & swa start http://localhost:3000 --api ./api`

staticwebapp.config.json located in root (`./`):

[code]

Routes properly recognized on ASWA, but not when running the CLI

[2021-05-14 23:21] anthonychu commented on #186
We're working on revamping the routing engine. It's significant work so we don't have an ETA right now. @GeekTrainer We should be addressing your scenario with these changes.

[2021-05-16 22:49] johnpapa opened #204 "Fill in the User ID for the user?"
Can we provide a User ID for the Auth for the user? It's not clear what we are supposed to fill in for that value and it is required.

[2021-05-17 13:46] manekinekko commented on #204
Are you referring to this field? It seems that this value is populated by [SWA on production](https://docs.microsoft.com/en-us/azure/static-web-apps/user-information?tabs=javascript#client-principal-data). But locally we are just generating a random UUID.

![image](https://user-images.githubusercontent.com/1699357/118498584-7a188680-b726-11eb-844e-5c26d0b99f0d.png)

[2021-05-17 14:44] johnpapa commented on #204
Yes, that box.

I updated to the latest version. Maybe because I had in during beta/pre-release ... but it often is empty for me.

[2021-05-17 14:53] manekinekko commented on #204
Are you able to check the devtools to see what's the issue? Also, the latest version on npm should be `0.4.1-alpha`.

[2021-05-18 12:09] Azuredevmuc commented on #143
Hey @all,
thanks for this report and solving it. The workaround works fine for me, but it should be considered to be included in the docu, to make it easy to start with.
Thanks again for the work!

[2021-05-21 00:06] Azuredevmuc opened #205 "Static Web App with Blazor and AUTH config in staticwebapp.config.json without effect on SWA CLI"
**Describe the bug**
Thanks for all the work on this very nice tool! I like it a lot. But i experience a bug i guess.
By starting SWA using this command: ` swa start https://localhost:5001 --api Api --swa-config-location ./Client/wwwroot` , and f or sure previously startet `dotnet run watch` to have the server runniing.
My expactation would be: AUTH can be simulated.

**To Reproduce**
- use defaul

[2021-05-21 02:38] horihiro commented on #205
This looks the same as https://github.com/Azure/static-web-apps-cli/issues/176
Currently swa-cli doesn't load `staticwebapp.config.json` when the dev server is specified.

[2021-05-21 08:04] manekinekko commented on #205
@horihiro  is right. We currently don't load the `staticwebapp.config.json` when running a dev server. We are still experimenting with the best way to approach this.

This is a planned feature. Stay tunned.

[2021-05-21 14:39] Azuredevmuc commented on #205
Okay - thank you @horihiro  & @manekinekko ,
maybe this could be a note in the docu - cause i was really frustrated testing this.
Since this is also not working with VS Code extension for SWA - you are limited to do "live" tests :)

[2021-05-21 16:23] manekinekko commented on #205
Thanks for the feedback @Azuredevmuc. We'll sync with our docs teams on this.

cc @craigshoemaker.

[2021-05-21 21:21] Azuredevmuc commented on #205
@manekinekko , thanks.

[2021-05-21 21:23] Azuredevmuc commented on #205
As part of my try to use AUTH with SWA and Blazor I learned, that i have to use Client-Side Navigation and there also AUTH.
So, to use Blazor with AUTH - this Article will help:
https://anthonychu.ca/post/blazor-auth-azure-static-web-apps/
For anything affecting the server-side, the config will do.
May be, this helps others too.

[2021-05-26 12:47] craigshoemaker commented on #205
I updated the note at the top of the page to read:

The change will go live in a few hours.

[2021-05-27 08:29] sajeetharan opened #207 "Azure DevOps git repo via Azure CLI : Command group 'staticwebapp' is in preview and under development."
**Describe the bug**
I came across this question in a forum on how to deploy a react application to Azure static web apps with Azure Devops.

**To Reproduce**

Execute the following command,

[code]

`az staticwebapp create -l westus2 -n appNameTest1 -g TestPrEnvResourceGroup -s "https://dev.azure.com/myOrganisationName/myProjectName/_git/myRepoName -b "main" --token "generatedTokenValuefwfsdgsgsd

[2021-05-27 08:35] manekinekko commented on #207
This issue isn't related to the SWA CLI. Please transfer it to https://github.com/Azure/static-web-apps.

[2021-05-27 08:35] #207 closed

[2021-05-31 22:03] anthonychu opened #212 "CLI exits without message when unable to bind to port 4280"
**Describe the bug**
If 4280 is in use, the CLI simply exits without an error message. (Note that this behavior is observed while testing #208 and might not affect the current CLI)

[code]

**Expected behavior**
Print an error that 4280 is in use before exiting.

[2021-05-31 22:15] anthonychu commented on #205
Tested the changes in #208 and it looks like this will be resolved by that PR! 🎉

[2021-05-31 22:16] iMicknl opened #213 "Ease the use of self-signed certs"
**Is your feature request related to a problem? Please describe.**
SSL is required when using the media functions, for example to use Azure Communication Services. It is possible to create a local cert, however this is not easy to maintain when multiple contributors work on the same project. You don't want to check a local self-signed cert in your version control.

Dotnet CLI has [a function to ge

[2021-06-01 08:40] manekinekko commented on #212
What platform is this? The CLI should print the error message 🤨

![image](https://user-images.githubusercontent.com/1699357/120293581-afe07200-c2c5-11eb-9666-6091a72fd9e1.png)

[2021-06-01 19:14] #186 closed

[2021-06-01 22:41] anthonychu commented on #212
Looks like the difference is I'm starting with a dev server instead (`swa start http://localhost:5000`).

[2021-06-02 01:08] anthonychu opened #216 "Improve handling of staticwebapp.config.json"
**Is your feature request related to a problem? Please describe.**
Improve experience when using staticwebapp.config.json

**Describe the solution you'd like**
- At startup, print the path of the staticwebapp.config.json that is in use
- Look for staticwebapp**s**.config.json and warn that it is spelled incorrectly
- Validate schema with [schemastore](https://json.schemastore.org/staticwebapp.conf

[2021-06-02 02:00] anthonychu commented on #176
This should be addressed in #208

[2021-06-02 02:00] #176 closed

[2021-06-02 06:40] anthonychu commented on #205
#208 is merged and released in v0.5.0. Please reopen if issue persists.

[2021-06-02 06:40] #205 closed

[2021-06-02 07:08] anthonychu commented on #190
This should be fixed with #208 and released in v0.5.0.

@manekinekko While the rule now blocks requests correctly, it seems to return the wrong HTTP status code (returns 404 when not authenticated/authorized, instead of 401 or 403).

Repro: https://github.com/anthonychu/20210601-swa-cli-issue-190

`swa start --api api`

If you click the button and look at the browser dev tools, you'll see the POST

[2021-06-02 15:16] manekinekko commented on #190
@anthonychu I will check that and update the e2e tests.

[2021-06-02 15:22] manekinekko commented on #91
@anthonychu  what's the status of this issue?

[2021-06-02 16:40] manekinekko commented on #190
I sent a fix in https://github.com/Azure/static-web-apps-cli/pull/221

[2021-06-02 17:35] #212 closed

[2021-06-02 23:24] anthonychu commented on #91
It no longer does the magic which is good. Still need to figure out how to set up F5 debug in VS Code.

[2021-06-03 16:23] #190 closed

[2021-06-03 17:22] anthonychu opened #224 "4xx pages aren't served properly when using dev server"
**Describe the bug**
When a route is blocked by allowRoles, the 4xx page request is proxied to the dev server instead of returning the page with the correct status code.

**To Reproduce**
Steps to reproduce the behavior:
1. Create route that is blocked:
[code]
2. Start app with dev server `swa start http://localhost:3000 --api api --run "npm:start"`
3. Navigate to the page.

**Expected behavior**

[2021-06-03 19:06] #147 closed

[2021-06-04 15:19] #224 closed

[2021-06-04 19:54] freshcutdevelopment opened #228 "Add support for wildcard subdomains"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to set up a multi-tenant web app using Azure static sites that uses one domain per tenant.

**Describe the solution you'd like**
Ideally, I'd like to be able to set up a wildcard domain entry (for example *.saas.app). That way I can run one subdomain per tenant in my multi-tenant SAAS application for exam

[2021-06-06 02:16] irwinwilliams opened #229 "Support query strings on static content"
Hi there,
A really simple test I did was to just stuff query string parameters on to html pages as I make requests and I'm realizing that this leads to 404 errors.
Can you confirm if no-query-string support is a feature or a bug?

[2021-06-06 17:04] anthonychu commented on #229
Ignore query string when serving static content. (Dev server and API calls should proxy the http request as-is, including query string)

Also need to print a disclaimer that the CLI is an emulator and might not match the cloud environment 100%. Will create a separate issue to track.

[2021-06-06 17:25] anthonychu opened #230 "Print notice that the emulator may not match the cloud environment"
**Is your feature request related to a problem? Please describe.**

There have been some issues filed against the static-web-apps repo because of differences in behavior between the emulator and the Azure environment.

**Describe the solution you'd like**

Print a notice on swa start command:

We’ve added a similar message to the readme but folks might not see it.

Also make it clear that the CLI

[2021-06-06 19:57] manekinekko commented on #229
@anthonychu  the code responsible for parsing query strings is located here: https://github.com/Azure/static-web-apps-cli/blob/efc9cad2906309398cf7393b93444a4af1202379/src/msha/middlewares/request.middleware.ts#L258-L270

[2021-06-07 02:00] irwinwilliams commented on #229
Hey @manekinekko, here's the output when --verbose=silly is on:

Detected runtime: [object Object]
[swa] - config:
[swa]   - appBuildCommand: npm run build --if-present
[swa]   - apiBuildCommand: npm run build --if-present
[swa]   - appLocation: C:\Development\del\TestSWA\
[swa]   - apiLocation: C:\Development\del\TestSWA\api
[swa]   - outputLocation: C:\Development\del\TestSWA
[swa]  - files:
[sw

[2021-06-07 05:05] anthonychu commented on #229
@irwinwilliams I can't seem to reproduce this either. Looking at the log messages, it looks like this might be an older version of the CLI. Can you check the version of the CLI? Ensure you're running 0.6.0.

[code]

[2021-06-07 12:34] irwinwilliams commented on #229
My swa --version output was 0.4.0.
So I ran, "npm install -g @azure/static-web-apps-cli"
Got it up to 0.6.0. Same issue. Restarted vscode. No change.
Going off to restart.

[2021-06-07 14:36] anthonychu commented on #229
Please share the app you’re testing with and repro steps.

It’s possible this is an issue on Windows. We’ll test this on a Windows machine.

[2021-06-07 15:55] irwinwilliams commented on #229
It's a private repo, @anthonychu, I can add you/your team.

[2021-06-07 17:45] GeekTrainer commented on #186
@manekinekko Was this resolved? I noticed the issue was closed.

Thanks!!

[2021-06-07 19:38] manekinekko commented on #186
@GeekTrainer  the change landed in https://github.com/Azure/static-web-apps-cli/commit/16990e8e1e0d907e6e95381f5e9a155cebb74711. You can go ahead and download the latest version of SWA CLI. Also, please let us know if you are still having issues.

[2021-06-07 19:39] manekinekko commented on #229
@irwinwilliams are you able to print the version of the SWA installed on your system, using the command `swa -v`.

Thank you.

[2021-06-08 01:32] irwinwilliams commented on #229
@manekinekko, sure, it's now 0.6.0.

[2021-06-08 08:40] manekinekko commented on #229
Oh! Are you still having the same issue with 0.6.0?

[2021-06-08 08:42] manekinekko opened #231 "Print CLI version when running --verbose=silly"
Add CLI version when enabling `--verbose=silly`.

[2021-06-08 12:45] irwinwilliams commented on #229
Hey, @manekinekko, yep.

[2021-06-08 14:17] manekinekko commented on #229
Thank you @irwinwilliams !

@anthonychu I confirm I am not seeing this issue on Macos. So this might be Windows-related.

[2021-06-08 14:32] Patil2099 commented on #231
@manekinekko  Can you guide me on how I can achieve this? Thanks!

[2021-06-10 00:00] horihiro commented on #229
Hello @irwinwilliams
Could please confirm if there is the following `navigationFallback` setting in your `staticwebapp.config.json`?
If there isn't, please add this and try again.

[code]

As far as I investigated, it seems that the query string is not handled appropriately if there is no this setting.

[2021-06-10 10:45] horihiro commented on #229
By comparing between [manekinekko's log](https://github.com/Azure/static-web-apps-cli/issues/229#issuecomment-855453921) and [irwinwilliams' log](https://github.com/Azure/static-web-apps-cli/issues/229#issuecomment-855886868), some different points were found.

1. Request path
    - `/folder/index.html` in manekinekko's log
    - `/index.html` or `/` in irwinwilliams' log

1. Route matching result

[2021-06-10 10:55] manekinekko commented on #229
Thank you so much @horihiro for taking the time to investigate this. Please note that the logs I shared are those of our E2E application and do not reflect @irwinwilliams configuration. I simply shared my logs as an example.

Also, I don't think the following rule is necessary:
[code]

Because this rule will rewrite ALL `*.html` and `*.xml` (eg: `/foo/bar/baz.html`) requests to `/index.html`, whic

[2021-06-10 10:58] manekinekko commented on #229
@horihiro for static content, query params are ignored by the CLI. See: https://github.com/Azure/static-web-apps-cli/blob/0abec9309688e991400b38d21d973f68145033ce/src/msha/middlewares/request.middleware.ts#L266-L269

[2021-06-10 11:08] horihiro commented on #229
Thank you!

I also confirmed the access to `/folder/index.html?query=value` returns 404 if the following route setting is removed from `staticwebapp.configjson` in [this](https://github.com/Azure/static-web-apps-cli/tree/main/cypress/fixtures/static).

[code]

- `/folder/index.html?query=value` -> 404 Not Found
- `/folder/index.html` -> 200 OK

Is this the expected behavior of the CLI?

[2021-06-10 12:20] horihiro opened #234 "`staticwebapp.config.json` in an unexpected folder is loaded"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Describe the bug**
`staticwebapp.config.json` in an unexpected folder is loaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the following folder structure.
[code]
2. Go to `dir2`
3

[2021-06-10 13:14] manekinekko commented on #229
@horihiro I am confused because I can't reproduce this issue. As you can see from the screenshot and logs, the file `/folder/index.html?query=value` is served as expected!

![image](https://user-images.githubusercontent.com/1699357/121531046-56332280-c9fe-11eb-86e1-ba4a4716189e.png)

<details>
[code]
</details>

[2021-06-10 13:22] horihiro commented on #229
Thanks @manekinekko

It seems that your config file still contains the following route setting according to the following log.

[code]

[code]

Please remove this route setting at first from `staticwebapp.config.json` and try again if you can.
In my env this issue can be reproduced when removing the setting and accessing `/folder/index.html?key=value`.

[2021-06-10 13:40] manekinekko commented on #229
@horihiro your analysis was correct. When the matching route is absent, then `isMatchingRewriteRoute` becomes `undefined` and the rest of the logic fails. We will fix that soon.

https://github.com/Azure/static-web-apps-cli/blob/09eb7223330bf42b94ee87cb2ff639087919c8f0/src/msha/middlewares/request.middleware.ts#L271

Thank you again for your feedback 🙌🏼

[2021-06-10 13:50] manekinekko commented on #234
Hi @horihiro that's, unfortunately, the expected behavior because SWA was designed to do a lookup from the cwd (./).
In order to change that behavior, you need to tell the CLI where is your config file is located using the `--swa-config-location` flag.

[2021-06-10 13:54] horihiro commented on #234
Thanks @manekinekko !
I forgot that flag you mentioned, sorry for botheing you.
This issue is closed.

[2021-06-10 13:55] #234 closed

[2021-06-10 15:20] manekinekko commented on #234
No worries @horihiro. It's alright 😃

[2021-06-10 16:29] #229 closed

[2021-06-10 17:13] manekinekko commented on #229
@irwinwilliams this should be resolved. Please reopen this thread if you still have the issue.

[2021-06-11 08:30] olakusibe commented on #143
This worked for me.

Though still vith ```v0.6.0``` using ```swa start ./client-folder --api ./api-folder``` still gives a ```page 404```

[2021-06-11 11:52] Azuredevmuc commented on #143
You also can do this now from the client directory:
`swa start http://localhost:5000 --run "dotnet watch run" --api ../Api`
Worked for me fine

[2021-06-12 22:32] irwinwilliams commented on #229
Hey, very cool @manekinekko, I see it was merged to main, how do I get access to it via npm?

[2021-06-14 10:56] Azuredevmuc opened #239 "Mocking .auth using SWA with Blazor localy not working"
Version: 0.60

**Describe the bug**
Using Blazor with SWA and CLI should bring up possibility to mock .auth localy. This seems not to work.
By following this HowTo: https://anthonychu.ca/post/blazor-auth-azure-static-web-apps/ and by modifying it to the current staticwebapp.config.json, i should be able to use .auth/me or .auth/loging/aad to bring up login mask, right?

This is locally not working

[2021-06-14 14:27] anthonychu commented on #239
This should work. What is the full URL you are navigating to?

[2021-06-14 14:40] manekinekko commented on #239
@Azuredevmuc just checking in. Can you confirm you are accessing the default URL: http://localhost:4280?

[2021-06-15 06:52] anthonychu opened #241 "Publish a standalone exe"
Just a discussion to see if this is possible for now. No need to implement yet.

**Is your feature request related to a problem? Please describe.**
Investigating using the CLI for debugging SWAs in Visual Studio. Instead of installing the Node toolchain, VS would like to acquire the CLI as an exe on Windows.

**Describe the solution you'd like**
Publish the CLI as standalone exe (Windows, perhaps

[2021-06-15 06:57] anthonychu opened #242 "Show http://localhost:4280 as the main emulator URL"
**Is your feature request related to a problem? Please describe.**
Currently, this is printed on startup:

[code]

**Describe the solution you'd like**
Not sure how often those addresses are used. I'd imagine 99% of the time, we want folks to use http://localhost:4280. Consider changing this output to simply:

[code]

Or remove it altogether and just add the URL to this message:

[code]

[2021-06-15 07:06] anthonychu commented on #239
I just pushed an updated version of the sample with staticewbapp.config.json. See readme for how to clone and run it locally. https://github.com/anthonychu/blazor-auth-static-web-apps/tree/add-debugging/sample

[2021-06-16 12:23] MisterJames opened #245 "Improved Error Message When No API Exists on Path"
**Is your feature request related to a problem? Please describe.**
I've run into this a couple of times, and admittedly, it's a user problem ;)

In my scenario, I'm bringing my own client and using Azure Functions for the API, letting `swa` take care of the API startup. I provide the URI for the client and the path for the API, however, when I am in the wrong directory the API cannot be found. Com

[2021-06-16 12:26] MisterJames commented on #245
I did find this in the source, should this not take care of this problem?

https://github.com/Azure/static-web-apps-cli/blob/main/src/cli/commands/start.ts#L47

[2021-06-16 12:45] manekinekko commented on #245
Thank you @MisterJames for reporting this behavior.

Yes, that piece of the code checks of the API folder exists, if not, we print a message (but we don't block – that's by design.

https://github.com/Azure/static-web-apps-cli/blob/ba94044c52614f8d6591a10ad8394301d733fd02/src/cli/commands/start.ts#L46-L48

Would you mind running your same command and adding `--verbose=silly` then printing the sect

[2021-06-17 20:59] diberry commented on #242
Without this, Azure Active Directory redirects while developing locally won't work at first glance because they don't allow http for anything but localhost. And if I try to use the urls listed in the SWA CLI, then I have to make sure locally I'm running with HTTPS. A customer has to really get AD and the client app to know what to change where.

[2021-06-18 07:08] manekinekko commented on #242
@diberry for your particular use case, there is a `--host` and `--port` options to help you change the CLI default address and port:

`swa start --host localhost --port 1234`

![image](https://user-images.githubusercontent.com/1699357/122520989-97d25780-d014-11eb-92bb-c4fb03b46662.png)

[2021-06-18 15:23] diberry commented on #242
@manekinekko That is only a fix if the client spins up with HTTPS too. Is there a flag for that? I don't have a certificate, I usually have the .env in React have https=true.

The issue is that if I want AAD to redirect to anything other than the literal "localhost", it has to be https. So an IP address has to be able to handle HTTPS.

![image](https://user-images.githubusercontent.com/41597107/12

[2021-06-18 16:35] manekinekko commented on #242
You can enable SSL using the [`--ssl`](https://github.com/Azure/static-web-apps-cli#configuration) flag, however, for now you need to generate your own SSL certificate. The CLI does ship with its own SSL certificate for localhost (see https://github.com/Azure/static-web-apps-cli/tree/main/scripts). But for now we do required the users have their own SSL.

@anthonychu we may need to improve the SSL

[2021-06-18 18:46] diberry opened #247 "Proxy in client package.json used by default or actively ignored"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When running React with Azure functions (in an /api folder) as a single application, locally, without SWA CLI, I need a proxy in the package.json. Since the CLI is a bit new and not totally hardened, can the CLI either use the proxy if fou

[2021-06-19 23:12] anthonychu commented on #247
Can you explain how this would be better? If you use the CLI, the CLI is the proxy. Anything to /api is proxied to the function app.

[2021-06-19 23:16] anthonychu commented on #242
Does this mean `http://localhost` works? If that’s true, you can get the CLI to start up at port 80.

[2021-06-20 01:17] horihiro commented on #241
This is a tiny concern when the standalone version is published.

It is appropriate to change the message `Run npm i @azure/static-web-apps-cli to update` in the following notice because the standalone exe may not be able to be updated by the `npm install`.

[code]
But I'm not sure if the message can be changed.

Or it is good also to disable the updater by the value `process.argv[0]` or something

[2021-06-20 03:08] anthonychu commented on #241
Thanks. That’s definitely something we’ll need to check for if we decide to do this.

[2021-06-20 09:26] manekinekko commented on #242
But then you will have to start the CLI as an administrator (or with root). because that's a limitation of the operating system.

[2021-06-24 07:21] sgollapudi77 commented on #230
![Screenshot (12)](https://user-images.githubusercontent.com/85578033/123219665-c6f03980-d4ea-11eb-9f36-69c3c9fe6696.png)

@anthonychu will this work?

[2021-06-24 07:39] #231 closed

[2021-06-24 07:43] manekinekko commented on #230
@sgollapudi77 can you change that to match this format? And have it printed in yellow?

https://github.com/Azure/static-web-apps-cli/blob/f87dc8b14ba3f1701202f3cb53c44a843dcb377d/src/msha/handlers/function.handler.ts#L56-L59

[2021-06-24 09:05] sgollapudi77 commented on #230
![Screenshot (13)](https://user-images.githubusercontent.com/85578033/123235224-497ff580-d4f9-11eb-89e3-35e5f79bf85e.png)
@manekinekko if this looks good, I'll raise the PR.

[2021-06-24 11:17] #230 closed

[2021-06-25 10:54] manekinekko opened #250 "Connect to a dev server using ports only (shorthand syntax)"
**Describe the solution you'd like**
We would like to support a shorter syntax when connecting to a dev server.

Instead of asking the user to type in:
[code]

We can also support:

[code]
This would assume that these dev servers are running on `localhost:PORT`

cc @johnpapa @anthonychu

[2021-06-25 11:25] horihiro commented on #250
Just for clarification.
In this case, is only `http://` supported?

[2021-06-25 13:01] manekinekko commented on #250
Thank you @horihiro Yes, that's correct. I will update the description.

[2021-06-25 13:08] #242 closed

[2021-06-25 13:20] manekinekko opened #251 "Wrong URI when binding to a dev server using a public hostname"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port `:4

[2021-06-28 21:22] alkwa-msft opened #252 "CRA with 5 functions won't load 0.0.0.0:4280"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x ] Yes, I am accessing the CLI from port `:

[2021-06-29 00:57] alkwa-msft commented on #252
Is there any way to debug the SWA emulator to understand what might be crashing so I can proceed to continue development?

 I can deploy to Azure and it runs but the inner loop is extremely long if I need to deploy to Azure to validate my changes

[2021-06-29 06:36] #252 closed

[2021-06-29 06:37] alkwa-msft commented on #252
It turns out its a mixture of my CRA dev server not starting up in time and the routes were not properly configured on the react-router.

I am wondering if there is still a way to increase the time to wait for the CRA dev server in the ASW CLI?

[2021-06-29 07:14] manekinekko commented on #252
Thank you @alkwa-msft for reporting this. I think it's a good idea to add a flag to let you configure the await time.

[2021-06-29 07:24] manekinekko opened #253 "Allow configuring the await timeout before connecting to a dev server"
**Is your feature request related to a problem? Please describe.**
When running the CLI against a dev server, we currently await 30 seconds (by default) for the dev server to start before connect to it (see https://github.com/Azure/static-web-apps-cli/issues/252)

So users have reported that some dev servers might take longer. We need a new flag to configure that timeout.

**Describe the solution

[2021-07-04 20:36] alkwa-msft commented on #253
ltgm I am thinking wait-on-timeout might be too ambiguous? Since its specifically for waiting on a frontend devserver

--devserver-init-timeout?

[2021-07-05 08:51] manekinekko commented on #253
This would be used for both frontend and API (when using dev server).

I agree on the naming, but let's make it shorter: `--devserver-timeout`.

[2021-07-15 09:40] sgollapudi77 commented on #250
@manekinekko if some user wants to connect using only ports, he can connect using the flags --port and --api-port right? Is this functionality really necessary? Just a thought from my side.

[2021-07-15 10:45] manekinekko commented on #250
`--port` and `--api-port` are used to set the static server port and API server port started by the CLI. There are not used for dev server.

[2021-07-17 13:15] #253 closed

[2021-07-17 21:54] connelhooley commented on #251
I'm seeing the same behaviour, just wanted to add that it appears to only impact the API setting . E.g.

[code]

Successfully uses `http://app` for the static front end but it ignores the API setting as described in the inital bug report.

[2021-07-19 14:28] #91 closed

[2021-07-20 12:39] Reshmi-Sriram commented on #204
Hi @johnpapa!
It'd be great if you can confirm whether this issue still persists. If yes, could you try out the suggestions provided by @manekinekko? (P.S. the latest version on npm now should be `0.6.2-alpha`)
If no, we'll close this issue for the time being and you can always reopen it in case we need to look into this further! :)

[2021-07-29 11:05] Reshmi-Sriram opened #260 "Get an option to opt for another port if the current requested port is occupied during swa start"
**Is your feature request related to a problem? Please describe.**
Currently, if I am running a project using `npm start`, and try to do `swa start --port:3000` on the same port, it terminates the command with an error message "_Port 3000 is already used. Choose a different port_"
![Swa start](https://user-images.githubusercontent.com/85954235/127481114-3748460c-ad3c-435f-9dbc-7a2460b8d911.png)

*

[2021-07-29 19:28] sgollapudi77 commented on #251
@connelhooley can you verify the behaviour for the static front-end once, I'm also seeing this behaviour for static front-end with custom-url like this?

[2021-07-29 20:01] sgollapudi77 commented on #251
In my case I can see the custom-url provided is used for serving static content, but I'm getting `read ECONNRESET` when trying to access the link `http://localhost:4280`. Hey @connelhooley Can you confirm once if the same is happening to you or this is happening only to me because of some proxy settings.

![Screenshot (32)](https://user-images.githubusercontent.com/85578033/127557386-0275e2e1-1283

[2021-07-30 01:25] anthonychu opened #261 "Using a function as a fallback route doesn't work"
**Describe the bug**
Functions should be able to be used as navigation fallback like configured [here](https://github.com/anthonychu/test-swa-ssr/blob/758d54b98c26c383a1cb5535c51cd4b03309f877/public/staticwebapp.config.json#L12-L14) but it doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/anthonychu/test-swa-ssr.git
2. cd test-swa-ssr
3. swa start pub

[2021-07-30 15:06] manekinekko opened #264 "Hot reload staticwebapp.config.json changes when server is running"
**Is your feature request related to a problem? Please describe.**
We need to support hot reloading the `staticwebapp.config.json` file whenever it got edited, without restarting the server.

**Describe alternatives you've considered**
Currently, users need to kill the server and restart it so their changes get applied.

**Additional context**
Currently, we read and cache the `staticwebapp.config.

[2021-07-31 11:45] manekinekko opened #265 "redirect property in responseOverride doesn't behave as expected"
**Describe the bug**
The `redirect` property in `responseOverride` rule does not seem to be applied. Instead, it looks like get a rewrite.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new folder `swa-demo`
1. Create an `index.html` file
1. Create a `staticwebapp.config.json` file with
[code]
1. Type in command `swa start`
1. Access a non-existing file in order to trigger a 404 er

[2021-07-31 11:59] manekinekko opened #266 "secure route + responseOverride=401 + redirect=/login.html does not work."
**Describe the bug**
Protecting a route using the following configuration doesn't seem to work.
[code]

1. Create and `cd` to new folder `swa-demo`
1. Create an `index.html` file
1. Create a `staticwebapp.config.json` file with
[code]
1. Type in command `swa start`
1. Access URL: `http://localhost:4280/`
1. Make sure you **are not authenticated**.
1. See error: browser does not redirect to `http:/

[2021-08-01 12:20] connelhooley commented on #251
Hi @sgollapudi77, apologies I don't think I can be much help.

The static content I'm rendering is hosted on `http://localhost:3000` and I haven't had any issues.

I tried to get this running in a docker container, but gave up when I couldn't configure the API endpoint to be something other than localhost so I haven't actually used anything other than localhost.

[2021-08-11 12:11] geirmarius commented on #229
👋 @irwinwilliams Did you manage to get it working on 0.6.1?

@manekinekko I've been struggling to get vite's dev server to run nicely on swa, and it turns out it's because it's ignoring query params. I'm on swa-cli v0.6.1.

Relevant part of the log:
The HelloWorld.vue file is being requested with query params to fetch the styles for the component, but it looks like it's stripped out when swa proxi

[2021-08-14 13:28] snerks opened #269 "Auth Emulator - Indicate valid Username characters when invalid character(s) submitted"
**Is your feature request related to a problem? Please describe.**

Using the Auth Emulator page for GitHub (may be the same for other Identity Providers):
http://localhost:4280/.auth/login/github

If the user enters invalid characters for `Username`, an attempt to submit the form fails "silently" in the UI.

The console gives additional information:

_The string to be encoded contains characters

[2021-08-16 09:10] snerks commented on #269
This link may provide a workaround for the problem:

https://developer.mozilla.org/en-US/docs/Glossary/Base64

[code]

[2021-08-16 10:03] snerks commented on #269
I found that, if I change the Javascript in auth.html:

[code]

The redirect occurs in the browser.

If a Function needs to inspect the `x-ms-client-principal` cookie, a small change is required
(based on https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/static-web-apps/user-information.md):

[code]

[2021-08-16 21:51] anthonychu commented on #269
Thanks for pointing this out. Looks like Static Web Apps is using UTF8 to encode the client principal, so it's probably more correct for the emulator to encode as UTF8 and for the Functions code samples to use UTF8 when decoding.

[2021-08-17 13:54] snerks commented on #269
@anthonychu Thanks for investigating.

Do you think we should:

1. Mark this issue as a CLI bug (for the `saveCookie` problem)?
2. Create a docs issue for the ClaimsPrinicpal sample?

[2021-08-17 15:14] richarddavenport opened #270 "Release with #255"
Is there a release coming soon now that #255 has been released?

That is a feature we've been waiting for. We have a slow angular build and the `--devserver-timeout` flag helps us out tremendously!

I can run the cli locally with `npm link` but it's not feasible for everyone on the team to be forced to do that.

Thanks to everyone working on a great solution!

[2021-08-18 05:30] aaronpowell commented on #21
Thinking about this - would it be possible to use the GitHub repo templates to generate a project? That would make it easier to have the permutations handled (just create a new template)

[2021-08-18 19:49] manekinekko commented on #21
I am in favor of this 👍

[2021-08-20 08:21] anthonychu commented on #270
0.7.1 is released! 🎉

[2021-08-20 08:21] #270 closed

[2021-08-21 03:32] codekitchen opened #275 "Waiting for API to be ready fails intermittently"
**Describe the bug**

Sometimes when starting up `swa`, it hangs on waiting for the API to be available until it times out and exits. Other times it starts up fine. I've been seeing this intermittently for a while and I believe I've tracked it down to [validateDevServerConfig](https://github.com/Azure/static-web-apps-cli/blob/e6cbf081971b3f9418e197c7d63f9d5aac3ac194/src/core/utils/net.ts#L52).

Th

[2021-08-21 03:33] codekitchen commented on #275
As a workaround for now, I've added a `sleep 3` to my `concurrently` commands so that my API is always up and running before `swa` tries to connect the first time.

[2021-08-21 21:29] anthonychu commented on #21
We need to think about what problem this addresses. Is the goal to prescribe an opinionated folder structure? GitHub templates might be a good idea but there's a maintenance overhead to them. How many people would find them useful?

We'll be doing some research studies in the next few months around the CLI. We'll include the getting started experience. /cc @Reshmi-Sriram

[2021-08-23 07:37] aaronpowell commented on #21
The goal would be to give people a starting point for creating a project, whether they are experienced with SWA or it's their first time. I think of it in a similar manner to someone using `func init` to setup the starting point for a Functions app.

[2021-08-23 08:20] manekinekko commented on #275
Hey @codekitchen we have added a new flag in the latest release to allow you to wait for the dev server to start:

`swa start ./ --devserver-timeout 60000`

[2021-08-23 14:17] codekitchen commented on #275
Hi @manekinekko thanks. The issue isn't with `swa` timing out before my API function is ready though. The issue is that my API function returns a 400 error for a simple `GET /` request, which your use of the `wait-on` library treats as "not ready yet" and so `swa` will always time out no matter how much time I give it.

I think the solution is probably to use the `validateStatus` option to `waitOn

[2021-08-23 15:17] manekinekko commented on #275
Interesting! Are you able to do a test using the `wait-on` CLI located under `./node_modules/.bin/wait-on`, with one of their other schemas ([see](https://github.com/jeffbski/wait-on#cli-usage))?

[code]

[2021-08-23 15:29] codekitchen commented on #275
Ah yes, that confirms what I'm seeing. When I tell wait-on to just check TCP connectivity it works fine:

[code]

But when I have it use http it fails, actually with a 405 because it does HEAD by default and Apollo Server doesn't allow HEAD:

[code]

If I do http-get it fails with a 400:

[code]

[2021-08-23 15:57] manekinekko commented on #275
Excellent! Then maybe one of the fixes would that we update the [resources](https://github.com/Azure/static-web-apps-cli/blob/e6cbf081971b3f9418e197c7d63f9d5aac3ac194/src/core/utils/net.ts#L58) property, and use `tcp:` instead (in addition?) of `http:`. But this would need some manual testing to make sure we don't break the current behavior.

https://github.com/Azure/static-web-apps-cli/blob/e6cbf

[2021-08-23 15:59] codekitchen commented on #275
👍 I like the idea of just testing tcp connectivity, and that's already what the first initial check appears to do

[2021-08-23 16:08] manekinekko commented on #275
Would you like to send a PR? Happy to review it 👍🏼

[2021-08-23 16:50] codekitchen commented on #275
Sure, I just sent over https://github.com/Azure/static-web-apps-cli/pull/281

[2021-08-23 17:46] diberry opened #282 "Question about how to make proxy work?"
I have an app structure like:

[code]

The root has the following package.json with the two different apps having separate scripts to start the dev servers:

[code]

The react app is very minimal just to figure out how to use the swa cli. The only change is to the `App.js` to call the API.

**My expectation is that the API route `/api/HttpHello?${name}` will be proxied correctly to the locally run

[2021-08-23 20:55] diberry commented on #282
Not sure where I went wrong but it is working now.

1. Run `npm run start-dev` in a split-window in VS Code.
2. Run 'npm run start-swa` in the second split-window.
3. Browser http at `http://localhost:4280`.

[2021-08-23 20:55] #282 closed

[2021-08-24 07:30] sgollapudi77 commented on #264
This is much needed feature, because it is really cumbersome for the user to restart the server every time he make changes in config file. Thanks for pointing out Wassim, will work on this.

[2021-08-24 12:21] manekinekko commented on #282
Hey @diberry yeah, that's currently the expected usage:
1. run the api
1. run the app
1. run `swa http://app-dev-server --api http://api-dev-server`

Alternatively, you can also use the `--run` flag to run an arbitrary shell commands, such as starting the app or api dev servers automatically. For example:

`swa start http://localhost:3000 --api http://localhost:7071 --run "npm run start-dev"`

Als

[2021-08-24 15:05] sgollapudi77 commented on #264
@manekinekko for loading swa-config file we're using `require` [here](https://github.com/Azure/static-web-apps-cli/blob/bf33e364f7cfdd8ff4b7729592b25637ac4bb6e6/src/msha/middlewares/request.middleware.ts#L61) which is storing the files contents in a cache and is not reloading the contents of the file. Is there any workaround for this?

[2021-08-24 19:53] manekinekko commented on #264
You can either clear the cached file before calling `require()` using such a helper function:

[code]

Or, you can use [`fs.readFileSync()`](https://nodejs.org/api/fs.html#fs_fs_readfilesync_path_options) to always read the file from disk.

[2021-08-26 17:54] mcansh opened #286 "rewrites in development have incorrect path"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port `:4

[2021-08-31 00:26] alexweininger opened #289 "Allow passing arguments to func start command or add a flag for inspecting func"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When attaching the VS Code debugger to the func start process, if you change the API files the func start process restarts. This causes the VS Code debugger to disconnect and the breakpoints no longer work. I know this behavior reproduces

[2021-09-03 22:43] alexweininger commented on #20
I really like this feature. I'm exploring adding local debugging for SWAs into the VS Code extension and this would make the configuration much easier on users.

[2021-09-06 09:10] #265 closed

[2021-09-08 01:15] alexweininger opened #291 "Add other installation methods (homebrew, winget, etc)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A developer using a non-Node.JS stack might not have node/npm installed. And the SWA CLI is currently only available as an npm package.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Abil

[2021-09-09 07:47] manekinekko commented on #291
Great! I think @anthonychu has also requested this feature in the past.

[2021-09-09 07:48] #289 closed

[2021-09-09 14:13] anthonychu commented on #291
I think we should have clear reasons to do this though and I don’t think we’ve seen customers asking for this. Functions has a need to support non-Node languages while Static Web Apps’ customers are largely Node.js. Even many who are using C# for Functions in Static Web Apps are using a Node.js framework for frontend. We’ve learned from Functions that there is a big maintenance overhead that comes

[2021-09-10 15:15] manekinekko opened #292 "File without extension return 404"
**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port `:4280`

**Describe the bug**
When fetching a file that doesn't have an extension (eg. `foo`), the CLI returns a `404`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an HTML file with the

[2021-09-10 15:38] santoshyadavdev commented on #292
I can take it 😊

[2021-09-19 10:24] simonaco opened #297 "Could not connect to "http://localhost:8000/" even when the app is running"
**Describe the bug**
Swa cli fails to start with error message [swa] Could not connect to "http://localhost:8000/". Is the server up and running? after successful start of gatsby dev server

**To Reproduce**
Steps to reproduce the behavior:
1. Go to terminal
2. Type in command swa start http://localhost:8000/ --api http://localhost:7071 --run "npm start"
3. See error

**Expected behavior**
Expecta

[2021-09-19 12:11] manekinekko commented on #297
Hey @simonaco thank you for reporting this issue. The good news is that we've already fixed it in https://github.com/Azure/static-web-apps-cli/pull/281 (issue https://github.com/Azure/static-web-apps-cli/issues/275). However, we haven't published a release to npm yet. cc @anthonychu.

Just as an FYI, here are the steps I followed (using v 0.7.2 - currently in main branch):
1. `install Gatsby: npm

[2021-09-20 03:52] Reshmi-Sriram commented on #297
Hey @simonaco,
We have an upcoming release this week and you should see it in the latest npm package soon! 😄

[2021-09-20 07:35] manekinekko commented on #297
This is awesome! Thank you @Reshmi-Sriram 👍

[2021-09-21 07:03] sgollapudi77 commented on #266
Merged a PR relating to this issue. Closing this.

[2021-09-21 07:03] #266 closed

[2021-09-21 16:51] sgollapudi77 commented on #297
Hii @simonaco we've done a new release today and previous changes have been included in this, please check once.

[2021-09-21 22:27] GaryParr opened #306 "Support Custom Auth"
**Is your feature request related to a problem? Please describe.**
Can't test or debug custom auth providers

**Describe the solution you'd like**
Option to bypass mock auth service when using custom auth

**Describe alternatives you've considered**
Test and debug using deployed app

**Additional context**
I'm setting up AAD B2C for my SWA and was really hoping I could run locally to see if I got

[2021-09-23 09:04] jon-a-nygaard opened #312 "Proxying request to remote dev server is missing query parameters"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

v0.7.2

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from

[2021-09-24 13:25] manekinekko commented on #312
Thank you for pointing this @jon-a-nygaard!

@Reshmi-Sriram it looks like the issue is coming from this code, the query params aren't appended to the pathname in line 130:

https://github.com/Azure/static-web-apps-cli/blob/bedc06d4100ec8273b213a0e8d1ff71eedbc5de4/src/msha/routes-engine/route-processor.ts#L123-L133

[2021-09-26 15:42] khaledm opened #313 "exception while trying to run SWA local instance"
Hi - trying to create a vanilla starter SWA based on the instructions here: https://docs.microsoft.com/en-gb/azure/static-web-apps/getting-started?tabs=vanilla-javascript

when I try to run it locally I'm getting following exception:

C:\Users\XXXX\AppData\Roaming\npm\node_modules\@azure\static-web-apps-cli\dist\core\utils\net.js:42
    catch {
          ^

SyntaxError: Unexpected token {
    at c

[2021-09-26 15:44] Reshmi-Sriram commented on #312
Thanks again for pointing it out @jon-a-nygaard :)
@sgollapudi77 could you please take a look at this?

[2021-09-27 07:26] #20 closed

[2021-09-27 12:05] manekinekko commented on #313
@khaledm looks like you are having a Node.js version mismatch. Please make sure you are using [Node.js v14 LTS](https://nodejs.org/ko/blog/release/v14.16.0/) or latest.

Also, please fill in the issue template so we can have all the required information in order to assist you.

[2021-09-27 12:36] sgollapudi77 commented on #292
https://github.com/Azure/static-web-apps-cli/pull/293 - Fixed with this

[2021-09-27 12:36] #292 closed

[2021-09-27 13:44] simonaco commented on #297
thank you @Reshmi-Sriram @sgollapudi77 . I just tested with a simple Gatsby app and one API endpoint and I'm still seeing issues, please check this screen recording [swa-cli doesn't start](https://youtu.be/X-Y1JfJMobg)

[2021-09-27 15:30] simonaco commented on #297
Thank you @manekinekko for debugging with me. It seems like the issue was related to how I was starting the CLI. When using this command,  swa start http://localhost:8000/ --api http://localhost:7071 --run "npm start" I need to have the functions server started.

Alternatively I can use this command to instruct the CLI to start the functions dev server: swa start http://localhost:8000/ --api api -

[2021-09-27 15:30] #297 closed

[2021-09-27 16:54] khaledm commented on #313
@manekinekko thanks for the pointer, should've checked https://docs.microsoft.com/en-gb/azure/azure-functions/functions-reference-node?tabs=v2#node-version here first.

[2021-09-27 16:54] #313 closed

[2021-09-27 21:23] danielgary commented on #286
I investigated this issue a few months back.  Remix needs the original URL to be preserved even after the fallback.  In production, this works and we can access the original URL using the ```x-ms-original-url``` header, but that header is not set when using the cli.

[2021-10-08 16:38] alexweininger opened #329 "Host swa-cli.config.json schema"
We are planning to consume the json schema https://github.com/Azure/static-web-apps-cli/blob/main/schema/swa-cli.config.schema.json file in the https://github.com/microsoft/vscode-azurestaticwebapps extension in our end of October release. We'll use it to provide autocomplete and inline documentation for swa-cli.config.json files.

Currently we are pulling the schema from this repository, using th

[2021-10-15 08:52] #286 closed, assigned to nobody

[2021-10-22 09:15] #329 closed, assigned to nobody

[2021-10-24 21:27] uxsoft opened #335 "Proxy can't connect to Functions CLI v4"
Azure Static Web Apps CLI can't connect to Azure Functions V4 CLI. The same issue with webpack or parcel proxy.

[code]

But when I go to localhost:7071 I can see the "Your Functions 4.0 app is up and running" page working just find and I can send requests using postman or web browser and they work just fine.

[code]
I'm running Windows 11 22000.282. Tried turning the firewall off but didn't help.

[2021-10-29 20:10] uxsoft commented on #335
switching from node 17 to node resolved the  issue for me as well!

[2021-11-03 23:09] anthonychu opened #337 "x-ms-original-url should reflect the value before rewrite"
Reported by @smakinson https://github.com/Azure/static-web-apps/issues/580#issuecomment-959978998

[2021-11-04 13:39] smakinson commented on #337
Thanks! Definitely something we need to easily test a custom sr like setup.

[2021-11-05 08:21] #312 closed

[2021-11-14 13:14] k-miyake opened #339 "CSS part of Vue app is not rendered on dev server"
**Describe the bug**
The `<style>` part of  SFC(Single File Component) is not rendered when launching Vue App using SWA CLI via dev server.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Vue app with `npm init vite@latest my-vue-app --template vue`
2. `cd my-vue-app && npm i`
4. Type in command `swa start http://localhost:3000 --run "npm run dev"`
5. Click on http://localhost:4

[2021-11-15 14:19] manekinekko commented on #339
Hey @k-miyake can you please share a screenshot of the network/console tabs from the browser's devtool?

[2021-11-16 10:42] k-miyake commented on #339
@manekinekko Here is a screenshot of the network/console tabs.
![swa-cli-4280-network](https://user-images.githubusercontent.com/1104403/141970747-b698f5d0-a24d-4887-9ed5-74ac992638cd.png)

![swa-cli-4280-console](https://user-images.githubusercontent.com/1104403/141970772-c973aa8f-5e0c-498c-91ae-445172d2520d.png)

[2021-11-16 23:16] aaronpowell commented on #21
btw, I created a standalone tool to do this - https://dev.to/azure/scaffolding-static-web-apps-4p97

[2021-11-17 15:25] GaryParr commented on #306
Any update on this?

Alternatively, is there any way to locally develop and test custom role management functions?  Currently the cli flat our ignores the relevant configuration...

`{
  "auth": {
    "rolesSource": "/api/GetRoles",
    "identityProviders": {
      // ...
    }
  }
}`

[2021-11-17 16:52] danielgary commented on #337
I believe this was fixed in #314 and should already be released?

[2021-11-18 14:09] manekinekko commented on #337
I confirm this has been fixed in #314

[2021-11-19 15:31] tonakai opened #346 "SWA with React + Vite development server returns HTTP 404 for requests with parameters"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

[code]
**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [X] Yes, I am accessing the CLI from p

[2021-11-19 19:44] StacyCash opened #347 "--app-location and --output-location not serving content from specified directories"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x ] Yes, I am accessing the CLI from port `:

[2021-11-19 21:26] xwellingtonx opened #348 "Default "cache-control: must-revalidate, max-age=30" leads to high bandwidth usage"
**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port `:4280`

**Describe the bug**
I'm writing this to explain the current scenario we're facing at my company, I've searched a lot before and I opened a support ticket (still active) on Azure before coming h

[2021-11-20 21:00] dwmuller opened #350 "Query parameters to static pages parsed incorrectly."
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port `:4

[2021-11-22 16:25] manekinekko commented on #339
Looks like this issue is caused by #346

[2021-11-22 16:26] manekinekko commented on #346
Thank you for opening this issue. It look like this is related to #339

[2021-11-22 16:28] manekinekko commented on #350
Thank you for opening this issue. This should be fixed by PR #338.

[2021-11-22 16:29] manekinekko commented on #350
FYI, this is also a duplicate of #346

[2021-11-22 16:35] manekinekko commented on #348
Thank you for opening this issue.

The `cache-control` header set by the SWA CLI is for **local development purposes only**, on your local machine. This is to avoid files being cached locally during the development phase.

This should not affect your cloud instance.

[2021-11-22 16:38] xwellingtonx commented on #348
@manekinekko Thank you for answering. The pictures I attached here are from a deployed version in Azure not from my local environment, are you telling me if that the deployed version shouldn't have this default value for `cache-control`?

[2021-11-22 16:47] manekinekko commented on #348
So basically, the SWA CLI uses a local dev server. This local dev server does not necessarily set the same cache control as the Cloud instance. The dev server is adapted for a local dev experience.

It looks like you probably want to move this issue to the https://github.com/Azure/static-web-apps/issues.

[2021-11-22 16:50] xwellingtonx commented on #348
@manekinekko I can move it, but my understanding was that under Azure you have the SWA CLI which would give the same values.

[2021-11-22 16:56] manekinekko commented on #348
Yes that the case, the SW CLI is an _emulator_ for SWA, but does not offer the exact same SWA runtine you get on Azure. This means that some behaviors might differ or be adapted (local vs Cloud).

[2021-11-22 16:58] xwellingtonx commented on #348
@manekinekko That makes sense, I've moved the issue but it seems that the bug is that the Cloud version is giving the same `cache-control` as the local one.

[2021-11-24 06:42] #350 closed

[2021-11-24 06:42] #346 closed

[2021-11-24 06:50] sgollapudi77 opened #352 "Add Cypress tests for testing Static server"
Add Cypress tests for proxying requests to Static server.
This would help in testing and preventing issues like [these](https://github.com/Azure/static-web-apps-cli/issues/350).

[2021-11-25 10:09] simonaco opened #353 "Install azure-functions-core-tools when the user is trying to run swa start with the --api-location flag"
**Is your feature request related to a problem? Please describe.**
Currently users have to install azure-functions-core-tools if they need to run the API.

**Describe the solution you'd like**
When users are trying to run swa start --api-location, detect if they don't have azure-functions-core-tools installed and ask if they want to install it. This would lead to a better user experience and faste

[2021-11-25 18:11] anthonychu commented on #353
Probably should install v4. Ideally it’ll select based on language and version to match the service but maybe just install v4 by default if func is not available, and user can downgrade if needed.

[2021-11-26 03:22] LHousehold commented on #339
I'm also experiencing this issue using Vite and SvelteKit. Due to another issue described [here](https://twitter.com/LHousehold/status/1463172755596234753), I had to temporarily downgrade to 0.8.0 to get to this point. I thought I'd bring it up because it sounds very similar to what's happening here.

I created a repo to recreate the issue: https://github.com/LHousehold/example-issue-azure-swa-sve

[2021-11-26 05:28] k-miyake commented on #339
I think the issue @LHousehold reported with SvelteKit is the same issue I'm having, which is caused by Vite's dev server not reading the CSS correctly when started on port 4280 of the SWA CLI.

[2021-11-27 00:21] taizod1024 opened #354 ""SWA: Run my-static-web-apps" failed in windows"
**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port `:4280`

**Describe the bug**
`SWA: Run my-static-web-apps` failed in windows.
The console output is as follows.
[code]

**To Reproduce**
1. Run vscode in windows
2. Go to `Run and Debug` in sidebar
3. S

[2021-11-27 08:10] taizod1024 commented on #354
Sorry, I close this issue.
This issue is for [microsoft/vscode-azurestaticwebapps.
](https://github.com/microsoft/vscode-azurestaticwebapps).

[2021-11-27 08:10] #354 closed

[2021-11-28 21:07] felpel commented on #306
This is currently a blocker to actually use SWA for real-life production apps.

I tried to have my deployed SWA talk to my `localhost` STS with the help of `ngrok`, but this is far from ideal.

May I suggest to opt-out of mocked authorization through a CLI switch or an option within the SWA config?

[2021-12-01 13:00] sinedied commented on #353
Is NPM still a valid/recommended way of installing core tools? I remember having issues with the core tools install silently failing (ie core tools not being available despite the package being installed) depending of the OS used.

The NPM package's readme itself states to use `brew` on MacOS or `dpkg` on Linux.

[2021-12-01 13:32] sinedied opened #357 "[Suggestion] Automatically open browser after the swa server is ready"
**Is your feature request related to a problem? Please describe.**
When using an API and external dev server (like for React, Angular, Vue...) the CLI shows a bunch of different URLs and users often open the wrong one in their browsers, ending up with the API and auth emulator not being available.

**Describe the solution you'd like**
I would suggest adding a new flag `--open` that automatically o

[2021-12-01 22:04] sgollapudi77 commented on #261
Fixed with #314

[2021-12-01 22:04] #261 closed

[2021-12-04 04:36] anthonychu commented on #353
Not sure if it’s worth investigating but theoretically SWA cli can download the func binary and run it, and it doesn’t need to depend on a separately installed version. This is more work, but there are advantages such as using the right version of core tools for the language in the project (.NET 6 requires v4, Node currently uses v3) and always keep the core tools up to date. Example of how to dow

[2021-12-04 10:28] mellson commented on #346
I got this working by downgrading to 0.8.0 as [suggested here](https://github.com/Azure/static-web-apps-cli/issues/339#issuecomment-979658966).

Look forward to a fix in the coming versions.

[2021-12-07 10:21] #348 closed

[2021-12-09 07:08] mellson commented on #346
Yay, the new 0.8.2 fixed this for me. Thanks 🙏🏻

[2021-12-10 19:53] manekinekko commented on #337
Closing this issue as the fix has been merged into main.

[2021-12-10 19:53] #337 closed

[2021-12-11 11:36] justinyoo opened #363 "SWA CLI requires GitHub Actions workflow file + specific jobs"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

My SWA version is `0.8.2`.

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am acc

[2021-12-15 08:44] k-miyake commented on #339
@manekinekko I have confirmed that this has been fixed in SWA CLI 0.8.2. Thank you for your support.

[2021-12-15 08:44] #339 closed

[2021-12-17 16:16] simonaco opened #364 "Debug the roles function using the local auth emulator"
**Is your feature request related to a problem? Please describe.**
Enable local dev for [role management](https://docs.microsoft.com/azure/static-web-apps/authentication-authorization?tabs=function) through serverless functions

**Describe the solution you'd like**
Test programmatically assigned roles in local environment

**Describe alternatives you've considered**
Call the auth function locally

[2021-12-17 16:30] simonaco commented on #364
[related](https://github.com/Azure/static-web-apps/issues/481)

[2021-12-27 11:21] Divyesh85 commented on #133
Hi @anthonychu , i was trying to implement Static Web apps and add API to it as described in this document - https://docs.microsoft.com/en-us/azure/static-web-apps/add-api?tabs=vanilla-javascript but seems i am having problem running this command on my bash terminal. "swa start src --api-location api"
I get below error when i try to run it, i am not sure if i missed anything to install or configur

[2021-12-27 14:01] dfberry opened #365 "/api not started or not started correctly"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [ x] Yes, I am accessing the CLI from port `:

[2021-12-27 14:21] dfberry commented on #365
The func error is my own -

[2021-12-27 14:21] #365 closed

[2021-12-28 02:41] Reshmi-Sriram commented on #133
Hi @Divyesh85 ,

Sorry that you faced this issue. Could you please confirm if you followed the Installation steps mentioned [above](https://docs.microsoft.com/en-us/azure/static-web-apps/add-api?tabs=vanilla-javascript#install-command-line-tools)? One usually comes across this error when the SWA CLI is not installed, hence the bash is not able to recognise the command `swa`

Also, it would be grea

[2022-01-01 21:35] Divyesh85 commented on #133
@Reshmi-Sriram sorry for late reply due to holidays, i was able to resolve the issue, seems by default when i was trying to install azure functions and azure static webapps cli on VS code terminal it was not installing using the administrator mode hence was not able to install properly. I tried it in separate command prompt as an admin and it went well. Thanks for the prompt reply though.

[2022-01-05 19:20] piotr-lasota commented on #335
Similiar here. Failed on Node 16 and 17 (same scenarios). Switching to node@14 on mac fixed the issue but it feels like a workaround with 16 being the current LTS

[2022-01-07 19:57] Adrian-SolM opened #367 "Waiting for http://localhost:3000 to be ready - Could not connect"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [Y] Yes, I am accessing the CLI from port `:4

[2022-01-07 20:18] Adrian-SolM commented on #367
Figured it out, similar issue to [ISSUE 335](https://github.com/Azure/static-web-apps-cli/issues/335). Installed nvm, and set node version to 14.

Leaving this open as I believe that issue 335 is related to functions, while this one is the frontend itself. Being that node version 14 is no longer supported, and the current lts doesn't work, this is something that should be reviewed.

[2022-01-14 07:17] DeividasBakanas opened #370 "Files are not found if contain percent encoded symbols"
CLI Version: 0.8.2

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port `:4280`

**Describe the bug**
Files containing percent-encoded symbols are not found. When opening a file with the name `with space.html`, the browser will percent-encode space symbol

[2022-01-14 09:21] manekinekko commented on #370
Thank you @DeividasBakanas for reporting this issue

[2022-01-15 02:30] AverageCakeSlice commented on #306
I second this. It would be nice to at least have a more robust auth emulator so that we can simulate the response being returned from the custom identity provider. Like @felpel mentioned, having a way to switch the config to use the actual provider rather than the emulator would be fantastic.

[2022-01-15 02:31] AverageCakeSlice commented on #364
Possible duplicate of #306

[2022-01-20 08:43] bhlawo opened #372 "Invalid JSON in `staticwebapp.config.json` is not reported by the CLI, and the process immediately exits"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

[code]

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [X] Yes, I am accessing the CLI from

[2022-01-26 15:51] jeremyVignelles opened #375 "[Regression] Query string on static content doesn't work anymore"
**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [X] Yes, I am accessing the CLI from port `:4280`

**Describe the bug**
Same use case as #229 : I am trying to use a static file with a query string, like `/control.html?param=someParam`.

SWA tries to serve a file with that name, but fails to f

[2022-01-28 08:27] janirapo opened #380 "Enable building api code upon start"
I have setup my api using TypeScript and I am unable to startup both the frontend and the api at the same time using the `swa start` command, because the TypeScript code needs to be built before you can run it as JavaScript.

Instead of running `func start` in the api folder you should provide a way to run e.g. `npm start` within that folder, so that the developer can setup prestart tasks that bui

[2022-02-02 05:10] Reshmi-Sriram commented on #204
This issue should be resolved.

[2022-02-02 05:10] #204 closed

[2022-02-02 05:12] Reshmi-Sriram commented on #51
This issue is resolved.

[2022-02-02 05:12] #51 closed

[2022-02-02 05:19] Reshmi-Sriram commented on #5
@manekinekko - is this something we are considering exploring anymore?

[2022-02-02 05:23] Reshmi-Sriram commented on #96
This issue should be resolved. @craigshoemaker - please do reopen if you still face any issues.

[2022-02-02 05:23] #96 closed

[2022-02-02 10:32] abhimantiwari commented on #375
@manekinekko Do we have any tentative timeline for release of this fix?

[2022-02-04 19:14] zachmatson commented on #335
Digging around a bit, it seems like this is related to https://github.com/nodejs/node/issues/40702

[2022-02-07 18:34] piotr-lasota opened #385 "staticwebapp.config.json including in-the-middle wildcard * works despite such wildcard placement not being allowed on Azure Static Web Apps"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the
latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

[code]

**Are you accessing the CLI from the default port `:4280` ?**

- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from

[2022-02-08 00:12] hags1975 opened #386 "Add claims to local emulator login screen and /.auth/me local endpoint"
Can't provide claims in local emulator.

Provide an array input of claims similar to what you see in a live static web app site in the local login form.

![image](https://user-images.githubusercontent.com/22360470/152893316-0c456118-c0d4-445f-9f91-e10ab0742f35.png)

Link to documenation:
https://docs.microsoft.com/en-us/azure/static-web-apps/local-development

[2022-02-08 09:00] manekinekko commented on #386
Related PR #381

[2022-02-11 09:03] sinedied commented on #353
Just giving a heads up as I'm currently working on direct download of the func tools correct version based on @anthonychu's suggestions 🙂

[2022-02-12 01:45] anthonychu commented on #353
Nice. Just a heads up that we might want to reach out to functions team to ensure we are looped in if there are any planned changes to how this works. I’m not aware of any plans to change the feed and download methods but should confirm.

[2022-02-20 00:04] scottkuhl commented on #386
Before I open a bug, is this the same issue:

If I add the role "tester" or "admin" to the mock auth UI shown above and then try to access if that principal has that role in an Azure function it is never found.  No roles are being sent across.

I tried this method from the docs:
`req.Headers.TryGetValue("x-ms-client-principal", out var header)`
and that header is not found.

I tried this method:

[2022-02-21 14:59] williamheelis opened #388 "swa start says --api option unknown, yet requires it"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port `:4

[2022-02-22 03:31] anthonychu commented on #388
It’s been changed to `--api-location` but that error message is outdated. We’ll get it updated. Sorry about that! https://github.com/Azure/static-web-apps-cli/blob/0ea71464a703003c6e6b239e59a124b1cb328211/src/msha/handlers/function.handler.ts#L58

[2022-02-22 06:21] #388 closed

[2022-02-22 08:34] williamheelis commented on #388
thanks, also it isn't possible to install older versions via `npm install -g @Azure/static-web-apps-cli@v0.8.1` can you advise the correct way to do previous version installs with this package? and possibly add it to the readme?

[2022-02-22 09:10] williamheelis commented on #388
also, may I recommend that the error message `error: unknown option '--api'` be changed to `error: in version 0.8.x and above option '--api' is changed to --api-location`

[2022-02-22 09:22] williamheelis commented on #388
sorry to be a pain, but @anthonychu I now get this error
<img width="987" alt="Screenshot 2022-02-22 at 09 18 26" src="https://user-images.githubusercontent.com/82875267/155101231-9467d140-495b-4d5e-a5fa-ff209973967c.png">

`Could not connect to "http://localhost:7071". Is the server up and running?`

then after some delay

[code]

I know that `swa` runs both the `4280` and the `7071` ports but I

[2022-02-22 16:43] egeyer opened #390 "Cannot lock down API when emulating auth locally - Blazor stack"
**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [X] Yes, I am accessing the CLI from port `:4280`

**Describe the bug**

I cannot get API authentication working when running locally. It's possible I'm missing something in my setup, but  I've read and searched documentation and haven't hit upo

[2022-02-22 16:49] egeyer commented on #386
@scottkuhl I somehow missed your reply to this issue when I was searching.  I have the exact same issue that you did and opened up a bug/question for it here: #390   I assume if it's a duplicate, it will be cleaned up, but I've been stumped on getting this to work.

[2022-02-22 17:13] madmonkeyworks opened #393 "Local development with https - self signed certificate"

[2022-02-23 07:35] Azuredevmuc commented on #335
NodeJS Version 16 LTS is working fine on Windows 10. Remember to reboot after uninstall / install.
This issue can be closed, since it is not a related Issue to static-web-apps-cli? @anthonychu

[2022-02-23 09:19] sgollapudi77 commented on #388
Hey @williamheelis , please check this issue #335 I think you're encountering a similar error.

[2022-02-25 08:53] #386 closed

[2022-02-25 09:38] uxsoft commented on #335
The issue for me was on Node 17, not Node 16. It works for me on Node 16 too but that doesn't solve the issue.

[2022-02-25 14:49] sinedied commented on #353
I've sent the PR for this 🙂 : https://github.com/Azure/static-web-apps-cli/pull/391

I have two questions now:
1. Should we include a CLI flag to clean-up downloaded core tools?
2. Should we check for newer Core Tools version (than installed locally) and automatically update it?

[2022-02-26 14:54] dougclutter opened #392 "Emulator won't start"
**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [X] Yes, I am accessing the CLI from port `:4280`...well, I am trying to

There is no URL printed in the console.

**Describe the bug**
The emulator never launches.  The console reports that the **server.js exited with code 0**.
I have tried a b

[2022-02-28 11:38] #393 closed

[2022-03-01 08:50] manekinekko commented on #393
FYI, I transferred this issue to the CLI repo.

[2022-03-01 12:27] sinedied commented on #353
Also @anthonychu do you know someone we could reach out to regarding the feed question?

[2022-03-01 15:46] manekinekko commented on #353
Is this really needed? If the local `func` is only meant to be used by SWA CLI, I guess we are safe to override old versions with a new version - assuming that we validate any new major `func` binary ahead of time.

[2022-03-01 17:17] JeffreyCA commented on #380
As a workaround I modified the `build` script of the root `package.json` so it builds both the front-end and API when you run `npm run build` from the root dir.

[code]

[2022-03-02 12:40] manekinekko commented on #392
Would you mind sharing the logs as well? You can enable logs using `--verbose=silly` like so:
[code]

[2022-03-02 12:49] dougclutter commented on #392
Run from the Client folder:
**swa start http://localhost:5000 --api-location http://localhost:7071 --verbose=silly**
[swa] - ssl:
[swa]   - 0: false
[swa]   - 1: <undefined>
[swa]   - 2: <undefined>
[swa] - env:
[swa]   - SWA_CLI_DEBUG: silly
[swa]   - SWA_CLI_API_PORT: 7071
[swa]   - SWA_CLI_APP_LOCATION: C:\Dev\myDocDrawer\src\myDocDrawer\Client\
[swa]   - SWA_CLI_OUTPUT_LOCATION: http://localho

[2022-03-02 16:10] manekinekko commented on #392
That's interesting! yes, please keep me posted as I cannot reproduce this issue locally.

[2022-03-02 16:15] manekinekko commented on #390
Thank you @egeyer for opening this issue. I apologize you had an unpleasant experience with the auth emulation.

We will investigate this regression bug on our end and keep you posted.

[2022-03-04 09:51] manekinekko opened #394 "Update node.js and npm version"
Node.js 14 is going to be deprecated. We need to move to the next LTS version and set those versions in package.json.

[2022-03-04 10:11] #251 closed

[2022-03-04 14:57] sinedied opened #395 "SWA cli not starting when specified API folder is empty"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port `:4

[2022-03-04 15:13] #353 closed

[2022-03-06 14:32] kaylumah commented on #375
I am running into the same issue where assets like css files are loaded with cache breaker ?v=someuniqueid this fails on the cli

[2022-03-07 08:59] manekinekko commented on #375
I am planning to work on this issue, this week. Will keep you posted.

[2022-03-07 09:57] #347 closed

[2022-03-07 11:14] #357 closed

[2022-03-08 14:25] manekinekko opened #400 "Fix e2e tests setup in GitHub Actions"
We have disabled our current e2e test (see https://github.com/Azure/static-web-apps-cli/pull/398/commits/1a42f73cc6e0cfe0888d38308ac981290e89bbea) due to some issues with Cypress.

We'd like to enable e2e tests again once we manage to investigate the root cause.

[2022-03-08 16:37] manekinekko commented on #395
Related: https://github.com/Azure/static-web-apps-cli/issues/245

[2022-03-08 16:42] manekinekko commented on #239
@Azuredevmuc I am going to close this issue. Can you try again with the latest version of the CLI and open a new issue if you still have the problem?

Thank you.

[2022-03-08 16:42] #239 closed

[2022-03-08 16:43] Reshmi-Sriram commented on #400
Related issue: [#352 ](https://github.com/Azure/static-web-apps-cli/issues/352)

[2022-03-09 10:00] #375 closed

[2022-03-09 10:00] #352 closed

[2022-03-09 10:04] manekinekko commented on #143
@taylora3 We are going to close this issue. We've updated the readme with a few examples about this use case. Please open a new issue if needed.

Thank you.

[2022-03-09 10:04] #143 closed

[2022-03-09 10:05] manekinekko commented on #174
This issue has been fixed by #186

[2022-03-09 10:05] #174 closed

[2022-03-09 14:07] manekinekko opened #402 "Check Node.js compatibility with Azure Functions Core Tools"
Avoid SWA CLI crash if Azure Functions Core Tools and Node.js version are incompatible.

[2022-03-09 15:03] #402 closed

[2022-03-10 16:11] #370 closed

[2022-03-11 16:49] manekinekko commented on #363
Hey, @justinyoo thank you for reporting this issue. Here is the fix we are going to apply for this use case.
https://github.com/Azure/static-web-apps-cli/pull/406/commits/e7a8a6e133b71d841e1605b83fd721f63981de45

For the context:
We scan for GitHub Action workflow files (if present) in order to extract the build configuration. The way we validate the workflow file is based on the default template

[2022-03-11 17:40] #363 closed

[2022-03-12 14:08] manekinekko commented on #335
@uxsoft  The underlying Azure Function Core Tools tool does not support Node.js 17. We've added a check (https://github.com/Azure/static-web-apps-cli/commit/d1b83d5bc3d13e991626f4366d54f49fb8ea5334) to prevent this issue.

For more information about supported Azure Function Core Tools versions: https://aka.ms/functions-node-versions.

I am closing this thread. Please open a new issue if needed.

[2022-03-12 14:08] #335 closed

[2022-03-12 14:18] zachmatson commented on #335
This is not exclusively an issue with functions core tools. The same issue appears when setting the APIs to be served from a local server on Node 17 without running functions core tools at all.

[2022-03-12 19:58] #372 closed

[2022-03-12 20:20] manekinekko commented on #335
@zachmatson the SWA CLI uses Azure Functions Core Tools to run the API on your behalf.

[2022-03-14 06:08] aaronpowell commented on #390
Hi @egeyer,

I've had a look at it and have created a sample repo here:  https://github.com/aaronpowell/swa-blazor-cli-bug

I was able to setup auth against the emulator, getting the following result back:

![image](https://user-images.githubusercontent.com/434140/158112976-4c962249-0eac-4c65-88a4-326dac0a6558.png)

(it hits https://github.com/aaronpowell/swa-blazor-cli-bug/blob/main/Api/Secured.c

[2022-03-14 06:13] aaronpowell commented on #390
Actually, it looks like it isn't flowing through the client principal info properly, the `IsInRole` test on `IIdentity` always returns `false`, so I'll have to have a look into that (essentially reporting false positives all over the place)

[2022-03-14 16:12] #385 closed

[2022-03-15 04:57] aaronpowell commented on #390
Some more digging - I made a mistake, the route restrictions are applied _if you write them correctly_, whoops! So, SWA CLI will restrict based on config ✅

I think the problem is going to be with the local Azure Functions host and now SWA, because the header will pass-through correctly and can be manually decoded [as shown here](https://docs.microsoft.com/en-us/azure/static-web-apps/user-informat

[2022-03-15 10:14] manekinekko opened #409 "swa start context should use swa-cli.config.json root folder"
**Describe the bug**
When starting the SWA CLI using a configuration file:

[code]

The `appLocation` is set to the current working directory (`./`) which breaks the lookup algorithm for `staticwebapps.config.json`, workflow files, and other flags constructions, such as `outputLocation`.

**To Reproduce**
Steps to reproduce the behavior:
1. create a config file  under `/tmp/foo/bar/baz/swa-cli.con

[2022-03-15 10:18] sinedied commented on #409
I'll have a look

[2022-03-16 01:17] aaronpowell commented on #390
After some debugging myself and then chatting with the Functions team, I've raised an issue on their GitHub repo to try and get some help on it (I'm struggling to get the end-to-end debugging working properly).

[2022-03-16 09:42] manekinekko opened #410 "Introduce alias flags"
**Is your feature request related to a problem? Please describe.**
The current flag names can be cumbersome and verbose to type each time. I'd like to suggest having shorter aliases.

**Describe the solution you'd like**

| swa flag| alias |
|-|-|
|--config|-c|
|--help|-h|
|--print-config|-g|
|--verbose|-v|

| swa start flag | alias |
|-|-|
|--app-location |-a|
|--api-location|-i|
|--api-port|-j|

[2022-03-16 17:15] NickBosworth opened #412 "0.8.2 swa start results in node server.js execution exiting with code 0"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**
- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x ] Yes, I am accessing the CLI from port `:

[2022-03-16 17:37] NickBosworth commented on #412
Rolling back to 0.8.0 and 0.7.2 does not resolve this issue.

I am wondering if it is a dependency issue given it was running brilliantly on one of the machines prior to upgrading originally.

[2022-03-17 07:49] #412 closed

[2022-03-17 07:52] NickBosworth commented on #412
Appears that commands referenced in the documentation do not work (swa start http://localhost:5000), this doesn't appear to be a breaking change as it is true of versions covering the last six months. More likely a documentation issue.

[2022-03-19 00:25] manekinekko opened #414 "Implement restrictions for staticwebapp.config.json"
**Describe the solution you'd like**
Implement restrictions for `staticwebapp.config.json`. See https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#restrictions

[2022-03-20 19:07] luisnaranjo733 opened #415 "--open flag doesn't work"
The docs describe the --open flag to launch the proxy server in a new browser tab, but it doesn't work and isn't described by the --help flag either

[code]

[code]

[2022-03-20 19:07] luisnaranjo733 commented on #415
<img width="304" alt="image" src="https://user-images.githubusercontent.com/1091547/159178548-65f49a33-b358-4e16-9183-c17cf296474b.png">

[2022-03-20 22:58] manekinekko commented on #415
Hi @luisnaranjo733  would you mind filling the default issue template, please? We require additional information from the template in order to investigate and triage this issue.

Thank you.

[2022-03-22 10:36] manekinekko commented on #245
@MisterJames would you mind testing again with the [new version of the CLI](https://github.com/Azure/static-web-apps-cli/releases/tag/v0.8.3) and let us know if you are still having an issue. I am going to close this thread. Please feel free to reopen if needed.

[2022-03-22 10:36] #245 closed

[2022-03-22 14:05] simonaco opened #418 "Support for trailingSlash config"
**Is your feature request related to a problem? Please describe.**
staticwebappconfig.json will include a property to configure trailingSlash behavior:

The following normalization and redirect rules will apply for each of the available configurations:

### Always

When setting trailingSlashes to `always`, all requests that don't include a trailing slash will be redirected to a trailing slash URL.

[2022-03-22 17:28] #409 closed

[2022-03-24 10:22] sinedied commented on #415
You're probably using v0.8.2, and the `--open` flag was introduced in v0.8.3.
You should update your dependency with `npm i @azure/static-web-apps-cli@latest`

[2022-03-24 10:31] sinedied opened #419 "Allow overriding config file with CLI flags"
**Is your feature request related to a problem? Please describe.**
Current the SWA CLI config takes priority over any CLI flags. This is not standard behavior for CLIs, and it prevents us to override any setting set in configuration by using a command line option.

**Describe the solution you'd like**
Options passed through CLI flags should take priority over options from the swa config file.

[2022-03-24 18:25] Devansu-Yadav commented on #394
@manekinekko Is this issue open to take up? If yes, I would like to contribute to this and make my first contribution to the project 🙂

I'd need a little bit of help getting started, hope that's fine 😅

Just wanted to ask where else do I need to update the versions for `nodejs` and `npm` apart from the `package.json` file?

[2022-03-25 11:38] manekinekko commented on #394
Hey @Devansu-Yadav thank you for wanting to help. Yes, this issue is still open.

Here are some of the places where we reference `node` and `npm` versions we depend on:
- https://github.com/Azure/static-web-apps-cli/blob/main/.nvmrc
- https://github.com/Azure/static-web-apps-cli/blob/main/package.json (engines)
- https://github.com/Azure/static-web-apps-cli/blob/main/.devcontainer/Dockerfile
- htt

[2022-03-28 16:09] sinedied opened #422 "Proposal: swa-cli.config.json format evolution to support new commands"
**Is your feature request related to a problem? Please describe.**
With the upcoming changes on the SWA CLI and the new commands being developed, it is currently a problem that we cannot set different values for options flags depending of the running command.

Concrete example of the problem:
- For `swa start`, I would like to use a dev server (`swa start http://localhost:4200`) which means the `c

[2022-03-28 16:24] TLKG opened #423 "Could not connect to "http://localhost:4200". Is the server up and running?"
**Describe the bug**
My SWA project consists of

- Angular (v12) UI
- Integrated API (node v14)

About a month ago downloaded v 0.8.2, the following **steps** VSC created a local DEV I can F5 to launch swa emulator to run and debug both Angular and nodes backend:
- delete `.vscode` folder
- click debug icon
- select `Show all automatic debug configuration`
- select `Azure Static Web Apps ...`
- se

[2022-03-28 16:36] alexweininger commented on #422
The VS Code extension depends on a feature like this, since we need a way for users to provide their own command when the command we generate for them doesn't work. So I would ask for this approach to be included in the final implementation. I think it could be combined with a few of the other proposed approaches too.

I think this would be a good idea, in our user studies the way `context` worked

[2022-03-28 17:46] TLKG commented on #423
More details,
1) the API terminal is good as before.
2) Angular UI terminal seems something about npm not recognizing:

[run]
[run] Usage: npm <command>
[run]
[run] where <command> is one of:
[run]     access, adduser, audit, bin, bugs, c, cache, ci, cit,
[run]     clean-install, clean-install-test, completion, config,
[run]     create, ddp, dedupe, deprecate, dist-tag, docs, doctor,
[run]     edi

[2022-03-28 17:54] TLKG commented on #423
Four files under `.vscode`:
- extensions.json

[code]
- launch.json

[code]

- settings.json

[code]
- tasks.json

[code]

[2022-03-29 08:05] sinedied commented on #422
I'm not sure I fully understand what you meant here, would you require any changes to how `configurations` works currently? As in the initial proposal there's no plans to change its current behavior, so it will continue to work the same.
I probably miss some context as I thought the multiple configurations were meant for either monorepos (where you could have multiple apps in the same folder) or w

[2022-03-30 05:40] lcartel opened #425 "Providing a complete DevContainer to run the tests"
**Is your feature request related to a problem? Please describe.**
When you first start the DevContainer I noticed two things :
- swa is not accessible on the path.
- Some tools are not installed in the DC when you want to test the code: dotnet, Azure Function Core..

**Describe the solution you'd like**
A complete DevContainer with all the tools and dependencies to run the following examples with

[2022-03-30 08:39] manekinekko commented on #423
cc @alexweininger

[2022-04-01 19:41] TimJSweet opened #429 "When requesting a dynamic webpage from the dev site the proxy strips off the query parameters"
- [X] Yes, I am accessing the CLI from port `:4280`

**Describe the bug**
When the browser requests a webpage that has query parameters from the backend/dev website (not the api endpoint or the auth redirects) the SWA http proxy removes the query parameters and therefore dynamic development servers cannot operator properly.

I ran into this when using vite as the development server for a SFC drive

[2022-04-04 19:37] #429 closed

[2022-04-05 07:20] #425 closed

[2022-04-05 13:20] lcartel commented on #418
Hello @manekinekko . Can I take this issue ?

[2022-04-08 09:15] Orionsgate commented on #423
Are there any updates to this issue? I am experiencing the exact same thing. Can no longer test via VS Code.

[2022-04-08 09:52] Orionsgate commented on #423
Hi, I have worked out something rather bizarre.

When you try to debug from within VS Code (with the default Azure SWA configuration), the first thing output to console is:

[code]

I then get to

[code]

exactly like OP is describing. Entering http://localhost:4280 in a browser goes nowhere.

However, if I take the exact task that is output, i.e. `swa start http://localhost:4200   --run="npm star

[2022-04-08 15:00] TLKG commented on #423
Still the same

发自我的iPad

[2022-04-10 00:36] manekinekko opened #439 "--api-location & --output-location should be under --app-location"
Should we prevent users from setting the context in a different folder than the API location, or output location?

Currently, the following command is valid and will not throw:

[code]

[2022-04-10 00:43] manekinekko commented on #422
Changes have landed in https://github.com/Azure/static-web-apps-cli/pull/432. Please open a new thread to discuss issues or regressions.

[2022-04-10 00:43] #422 closed

[2022-04-12 15:06] manekinekko commented on #423
@alexweininger would it be possible to help investigate this issue? it looks like it's related to the VS Code extension.

[2022-04-12 15:07] manekinekko commented on #418
Any updates on your side @lcartel ? Let's know if you need help.

[2022-04-12 15:10] manekinekko commented on #390
@aaronpowell any updates on this issue?

[2022-04-12 15:14] manekinekko commented on #264
@sgollapudi77 did you manage to finish work on this feature?

[2022-04-12 15:16] manekinekko commented on #260
Fixed in [1810590](https://github.com/Azure/static-web-apps-cli/commit/18105909521480b5d0b60afef2266b8effe219ad)

[2022-04-12 15:19] manekinekko commented on #213
Landed in #441

[2022-04-12 15:19] #213 closed

[2022-04-12 15:22] manekinekko commented on #5
We are going to drop this idea, since we are not using Oryx locally.

[2022-04-12 15:22] #5 closed

[2022-04-12 16:56] TLKG commented on #423
@Orionsgate Manual run of `swa start http://localhost:4200 --run="npm start" --devserver-timeout=90000` resulting `502 (Bad Gateway)`.

This is my workaround:

1. Terminal, `npm run build -prod`
2. Add a new terminal or reuse the same terminal, `swa start dist/ui -api-location api`
3. wait for a little while just like it was before, open a new browser, `http://localhost:4280`
4. F12 on this browse

[2022-04-12 17:27] alexweininger commented on #423
I'll investigate this soon, could this be related to the 0.8.3 release?

[2022-04-12 20:04] alexweininger commented on #423
@TLKG @Orionsgate

Unfortunately I'm not able to reproduce this issue and I think they could be unrelated, if you could provide what you can out of the following that would help me investigate this bug further.

1. A link to your repository if it's available publicly
1. Contents of your package.json (specifically the scripts section)
1. The output of the following commands:
	1. `npm --version`
	2.

[2022-04-12 22:40] TLKG commented on #423
@alexweininger Really appreciate it. It's a private repository, but 2 - 5 are provided as below:

2. Contents of your package.json (specifically the scripts section). Note, the only changes within a month is addition of `node-fetch`:
[code]
3. The output of the following commands:
`npm --version`: 6.14.15
`node --version`: v14.18.0

4. The entire output shown in terminal
Terminal 1:
[code]
Termina

[2022-04-12 23:49] TLKG commented on #423
CMD run `swa start http://localhost:4200 --run="npm start" --devserver-timeout=90000`:

[code]

[2022-04-12 23:52] alexweininger commented on #423
@TLKG thanks for the quick replies, I'll investigate this and report back.

[2022-04-13 01:21] aaronpowell commented on #390
I don't believe this is something that we'll be able to resolve in the SWA CLI as it is reliant on the Functions team addressing the bug.

[2022-04-13 13:43] scottkuhl commented on #390
Is there a bug open for them you can point us to?

[2022-04-13 23:25] nturinski commented on #423
@alexweininger As discussed offline, here is a task configured to work

[code]

[2022-04-14 00:54] aaronpowell commented on #390
https://github.com/Azure/azure-functions-core-tools/issues/2985

[2022-04-15 14:35] colinansah opened #447 "Use real identity provider locally"
**Is your feature request related to a problem? Please describe.**
When developing locally I cannot test my application against a real identity provider using the staticwebapp.config.

**Describe the solution you'd like**
I would like to have the option to use the mock authentication interface or a real provider.

[2022-04-15 20:32] JonBoxTN opened #448 "(NoRegisteredProviderFound) No registered resource provider found"
AZ CLI version: 2.35.0

Environment:
React app + MSAL, SWA w/ AD authentication, byo function connected to API, with AD App registration.  Azure DevOps, via YML and BICEP.  In EastUS2.

BICEP to create:
resource staticWebApp 'Microsoft.Web/staticSites@2020-12-01' = {
  name: '${longPrefixName}webapp'
  location: paramLocation
  sku: {
    name: 'standard'
    tier: 'standard'
  }
  properties: {

[2022-04-16 11:50] manekinekko commented on #448
Hi, I am sorry to hear you are having issues with the Azure CLI. This issue is not related to the Static Web Apps CLI.

The Azure CLI lives in this other repo: https://github.com/Azure/azure-cli.

I am going to close this issue.
Thank you.

[2022-04-16 11:50] #448 closed

[2022-04-16 11:57] manekinekko commented on #423
Thank you @alexweininger @nturinski for taking the time to investigate this issue. I am sorry I missed the notifications for this thread.

@alexweininger I am not sure we've changed the behavior of the `--run` options on our side in `0.8.3`. Did you manage to find the root cause of this issue?

[2022-04-18 18:54] alexweininger commented on #423
Yeah, we have the fix ready for it.

[2022-04-20 12:37] sgollapudi77 commented on #264
No Wassim, I didn't get chance to work on this feature.

[2022-04-21 05:47] Devansu-Yadav commented on #410
@manekinekko Is this issue open to take up? If yes, I would like to contribute to this issue.

From what I understand, I need to update the `src/cli/index.ts` file to add the corresponding alias flags. I don't seem to find anywhere else in the codebase where the relevant alias flag need to be added (please correct me if I'm wrong).

Also, I wanted to ask, where should I be adding the tests for thi

[2022-04-22 09:51] manekinekko commented on #410
Thank you @Devansu-Yadav for working on this issue.

So most of these aliases need to be added to their relevant files, for each command in this folder: `https://github.com/Azure/static-web-apps-cli/tree/ga/src/cli/commands`

We also need to update the `https://github.com/Azure/static-web-apps-cli/blob/ga/readme.md` file to include these aliases. And for thest unit tests, you are right, we also ne

[2022-04-24 12:42] lcartel commented on #418
Hey @manekinekko.
Sorry for the delay in the response. Here are the key elements blocking me right now:
- There is a tag **status: need e2e tests** - does it mean that the solution has been developed yet and just needs tests?
- I might need some precision regarding the roles of **handlers**, **middlewares** and **routes-engine** folders.

Thanks

[2022-04-27 06:55] sinedied commented on #415
@luisnaranjo733 did it work for you with the latest version?

[2022-04-27 11:38] manekinekko commented on #414
related to #216

[2022-04-27 11:48] manekinekko commented on #364
I will look at this post-GA.

The current workaround is to print a warning if we detect the `auth` in the `staticwebapp.config.json`

[2022-04-29 20:13] manekinekko opened #461 "swa with nuxt"
### Discussed in https://github.com/Azure/static-web-apps-cli/discussions/442

<div type='discussions-op-text'>

<sup>Originally posted by **sig9** April 11, 2022</sup>
I am running into an issue where I see 405 errors when I run swa in front of nuxt using the content module.

With silly debugging turned on I see the method POST is not allowed to a path starting with /_content/ . Presumably becaus

[2022-05-02 10:10] julienmourgues opened #462 "TypeError: Cannot read properties of undefined (reading 'toLocaleLowerCase') on @azure/static-web-apps-cli/dist/core/deploy-client.js:149"
Context :
`swa --version` = 0.8.3
dependency npm : "@azure/static-web-apps-cli": "github:Azure/static-web-apps-cli#ga"

**Describe the bug**
Use command npx swa deploy ./dist/my-first-project --verbose=silly --deployment-token <value_token>
Ok on April 13 but KO on May 02 (without changes). Reproduce in two environnement : on Jenkins and localhost

**To Reproduce**
Steps to reproduce the behavior:

[2022-05-02 19:12] manekinekko commented on #462
Thank you @julienmourgues for reporting this issue. We've changed an internal API signature that was causing this issue. Can you check out the latest changes from `ga` branch (make sure you have the latest commits) and let us know again?

[2022-05-03 09:23] julienmourgues commented on #462
Hy @manekinekko , I checked out latest changes from `ga` branch and it's solve this issue.
However, I have another error.

My Web application is an Angular (v13.3) application named 'my-first-project'

I try [deploy a front end without API](https://github.com/Azure/static-web-apps-cli/tree/ga#deploy-a-front-end-app-without-an-api) with option 1 and it's failed (see [StackTrace_1.txt](https://githu

[2022-05-04 15:00] sinedied commented on #439
Actually, after some clarification only `outputLocation` should be under `appLocation`, `apiLocation` path is independant

[2022-05-05 06:19] julienmourgues commented on #462
Hi @sinedied ! I checked latest changes from `ga`, it rocks ! Thanks for fixes. I close this issue. Have a nice day.

[2022-05-05 06:19] #462 closed

[2022-05-06 06:43] #394 closed

[2022-05-10 14:15] manekinekko commented on #414
Fixed in https://github.com/Azure/static-web-apps-cli/pull/454

[2022-05-10 14:15] manekinekko commented on #216
Fixed by https://github.com/Azure/static-web-apps-cli/pull/454

[2022-05-10 14:15] #216 closed

[2022-05-14 04:48] arturgromek opened #473 "Enable use of client directed sign ins with auth emulator"
**Is your feature request related to a problem? Please describe.**
The auth emulation does not support the use of client directed sign ins, as described in the docs here: https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-customize-sign-in-out#client-directed-sign-in

**Describe the solution you'd like**
If using the client directed sign in flow, the emulator should be abl

[2022-05-16 16:50] GeekTrainer opened #477 "Enhance error message for missing staticwebapp.config.json"
**Is your feature request related to a problem? Please describe.**

`swa deploy` requires the use of `platform.apiRuntime` to identify the runtime for Azure Functions. If this is missing, the error message indicates to add **staticwebapps.config.json**, but not where it should be located. For the project I was working on, the app folder wasn't the root directory. After creating **staticwebapps.con

[2022-05-17 20:52] SteveVaneeckhout commented on #339
I'm having the same problem as @k-miyake with version 0.8.3 when using Vite and Vue.

[2022-05-18 15:34] manekinekko commented on #339
We have fixed this issue in the next release. Will schedule a release soon.

[2022-05-18 15:52] #380 closed

[2022-05-18 17:31] #477 closed

[2022-05-19 01:22] SIkebe opened #489 "Usage of $schema in staticwebapp.config.json causes warning"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**

- [ ] No, I am using a different port number (--port) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port `:

[2022-05-19 08:55] manekinekko commented on #489
Hey @SIkebe thank you for reporting this issue. For now, you can simply ignore this warning for now. The team will work on publishing an updated version of the schema.

cc @Reshmi-Sriram

[2022-05-19 09:13] #489 closed

[2022-05-19 13:06] #439 closed

[2022-05-19 13:07] #392 closed, assigned to nobody

[2022-05-19 13:07] #415 closed

[2022-05-19 13:07] #423 closed, assigned to alexweininger

[2022-05-19 13:10] #241 closed

[2022-05-19 13:11] #461 closed

[2022-05-19 13:12] #400 closed

[2022-05-19 23:42] anthonychu commented on #489
Fixed by https://github.com/SchemaStore/schemastore/pull/2261

[2022-05-20 00:35] SIkebe commented on #489
Thanks!

[2022-05-20 08:49] tmyllymaki opened #500 "Swa deploy fails with an unknown exception has occurred"
**Describe the bug**
Running `swa deploy` always fails with:

[code]

It manages to create the resource in Azure

**To Reproduce**
Steps to reproduce the behavior:

Running `swa deploy` with either `swa-cli.config.json` or manual parameters.

**Expected behavior**
Correct resources should be created and the app deployed.

**Desktop (please complete the following information):**

- OS: Ubuntu 22.04

[2022-05-20 10:01] manekinekko commented on #500
Hey @tmyllymaki can you run the command again using `--verbose=silly` and share the logs?

[2022-05-20 10:23] tmyllymaki commented on #500
Removed some identifiers. Let me know if you need something else.

[code]

[2022-05-20 11:35] Reshmi-Sriram commented on #500
Hey @tmyllymaki,
Thanks for sharing the logs. We are trying to repro the same on our end. Will update once we have a fix or any other asks.

Thank you!

[2022-05-21 10:48] Ensar025 opened #502 "SWA CLI documentation improvement"
Not really a bug, I chose the bug option as it was the one most fitting.

**Describe the bug**
Using `swa deploy --app-location ./packages/frontend --output-location ./packages/frontend/dist` gives the error `The folder "/home/runner/work/***/***/packages/frontend/packages/frontend/dist" is not found. Exit`.

This shows that the output location is relative to the app location. This is not noted (o

[2022-05-21 18:30] TLKG commented on #423
@alexweininger What is the fix and is it available for download?

[2022-05-22 12:40] adriancuadrado opened #503 "Environment variable DISPLAY is not set"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**

- [ ] No, I am using a different port number (`--port`) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port

[2022-05-22 13:50] adriancuadrado opened #504 "error: unknown option '--subscription'"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Are you accessing the CLI from the default port `:4280` ?**

N/A

**ℹ️ NOTE: Make sure to enable debug logs when running any `swa` commands using `--verbose=silly`**

**Describe the bug**
When I run

[2022-05-23 04:06] sgollapudi77 commented on #500
Not able to reproduce this on my end.

[2022-05-23 05:53] Reshmi-Sriram commented on #504
Hey @adriancuadrado,
Thanks for bringing this to our attention. Looks like we made a small typo. Will fix it ASAP!

[2022-05-23 05:56] Reshmi-Sriram commented on #502
Hey @Ensar025,

Thanks for pointing it out, will add this to the docs! :)

[2022-05-23 07:46] #502 closed

[2022-05-23 07:46] #504 closed

[2022-05-23 07:56] manekinekko commented on #503
Hey @adriancuadrado, can you install an X11 server (such as [VcXsrv](https://sourceforge.net/projects/vcxsrv/)) and set the `DISPLAY`  variable, by adding (for instance) this line in your `.bashrc` file:

[code]

[2022-05-23 08:01] manekinekko commented on #500
Hey @tmyllymaki can you make sure your firewall is not blocking network access to the `swa` CLI?

[2022-05-24 13:37] Ensar025 opened #508 "Invalid environment value deploys to production"
Using SWA version: 1.0.1

**Are you accessing the CLI from the default port `:4280` ?**

- [ ] No, I am using a different port number (`--port`) and accessing the CLI from that port
- [x] Yes, I am accessing the CLI from port `:4280`

**Describe the bug**
Deploying the SWA using `swa deploy --app-location ./packages/frontend --api-location ./packages/api --env no-src` deploys to Production even th

[2022-05-25 09:24] justinyoo opened #509 "Unable to install SWA CLI on Alpine Linux"
**Describe the bug**

I'm using a Docker container image, `mcr.microsoft.com/azure-cli:2.33.1`, which is based on Alpine Linux.

I installed nvm and the latest node v16.x successfully. But I wasn't able to install this SWA CLI. It threw an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Open a container image like `docker run -it mcr.microsoft.com/azure-cli:2.33.1`
2. Run the

[2022-05-25 14:31] manekinekko commented on #509
Hey @justinyoo can you share the logs from `npm install -g @azure/static-web-apps-cli --verbose` please? It looks like an issue with Keytar, but I am not sure.

[2022-05-25 15:35] manekinekko commented on #509
FYI, I opened an issue at https://github.com/atom/node-keytar/issues/461

[2022-05-25 20:07] sgollapudi77 commented on #508
Thanks @Ensar025 for pointing this out, we will look into this.

[2022-05-26 01:10] justinyoo commented on #509
Sure. I also suspect the keytar side... Here's the log:

[code]

[2022-05-27 19:21] adriancuadrado commented on #503
@manekinekko I have installed VcXsrv, but I have zero experience with X11 servers. Would you mind to tell me what I have to do step by step? So far I installed it and executed the xlaunch.exe file. Then I selected the "Multiple windows" option (No idea which of the 4 options I have to select) and left the display number to -1. Then in the next screen I selected "Start no client" and in the last sc

[2022-05-27 19:23] adriancuadrado commented on #503
Also I don't understand why I have to do any of this when commands like `az login` just work without this kind of set up. `az login` doesn't require any X11 server or any `export DISPLAY=...` anywhere, so I expected the `swa` command to not require anything like that likewise.

[2022-05-30 06:52] justinyoo opened #510 "--api-location of SWA CLI for Blazor WASM is misleading"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

**Describe the bug**
A clear and concise description of what the bug is.

When I deploy a Blazor WASM app to ASWA, using this SWA CLI, the API location on the doc is a bit misleading. Here's the [doc]

[2022-05-30 07:40] tmyllymaki commented on #500
Disabling ufw didn't help. One thing I noticed was that I get a DeploymentId in my logs but there's not a single deployment under the created resource group.

[2022-06-01 04:45] c0g1t8 commented on #364
What is the current status of this? I was attempting to enable [role management](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization?tabs=function) and test locally. I expected my `GetRoles` function to be called but it wasn't after login. I was able to call `GetRoles` directly. I was hoping not to debug in a live SWA deployment.

I'm using `SWA CLI ver 1.01` and C#

[2022-06-01 05:58] Reshmi-Sriram commented on #364
Hi @c0g1t8,
We have this in our radar and will be working on this shortly. We do not have a timeline yet to commit this, but you should be seeing some update in a couple of months.

cc// @sgollapudi77

[2022-06-01 10:24] alexhudson opened #512 "swa doesn't cope with spaces in user home directories correctly"
**Describe the bug**

Running "swa start" fails, emitting an error:

[code]

Running it manually, with correct escaping for Powershell, works:

[code]

**Expected behavior**

If there is a space in the path to the user home, it is properly escaped before attempting to run func.

**Desktop (please complete the following information):**

- OS: Windows
- Version: 11

[2022-06-03 16:41] anthonychu opened #513 "Display Azure AD tenant name in tenant picker"
**Is your feature request related to a problem? Please describe.**
Currently, when using `swa login`, it displays a list of tenant id's in a picker. Can it also include the tenant name?

[2022-06-03 16:58] anthonychu opened #514 "swa deploy - Cannot see logs when there's an error"
Before filing this issue, please ensure you're using the latest CLI by running `swa --version` and comparing to the latest version on [npm](https://www.npmjs.com/package/@azure/static-web-apps-cli).

Trying to use swa deploy. It's failing but it's not possible to see the details of the deployment. It just shows `An unknown error has occurred`.

<img width="861" alt="image" src="https://user-images

[2022-06-06 05:26] Reshmi-Sriram commented on #514
Hey @anthonychu,
Is this related to #500? Could you confirm if you tried the steps mentioned there? We are investigating the fix currently, but need more clarity on whether the error we see in your case is different from that mentioned in the #500 issue or not. Thanks!

cc// @sgollapudi77

[2022-06-07 16:08] wbreza opened #515 "SWA Login: libsecret-1.so.0: cannot open shared object file: No such file or directory"
**Describe the bug**
Receiving error when running a `swa login` command on linux from within docker image / dev container.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `az login` to initialize azure credentials
2. Run `az account set -s {subscriptionId}` to set default subscription
3. Run `swa login --subscription-id {subscriptionId} --resource-group {resourceGroupName} --tenant-id {